.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
.quartz-cache
private/
.replit
replit.nix
.obsidian/app.json
.obsidian/appearance.json
.obsidian/graph.json
.obsidian/hotkeys.json
.obsidian/workspace.json
.obsidian/plugins
!.obsidian/snippets/**
