.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
.quartz-cache
private/
.replit
replit.nix
content/.obsidian/app.json
content/.obsidian/appearance.json
content/.obsidian/graph.json
content/.obsidian/hotkeys.json
content/.obsidian/workspace.json
!content/.obsidian/themes/
!content/.obsidian/themes/**
content/.obsidian/plugins/*
!content/.obsidian/plugins/
!content/.obsidian/plugins/css-inserter/
!content/.obsidian/plugins/css-inserter/**
!content/.obsidian/snippets/
!content/.obsidian/snippets/**
.kra
.png~
content/_fit