/* templates */

.callout[data-callout="customname"], .customname { /* uses callout-name for callouts, and .classes for any elements you want to color with this. note you cannot nest markdown inside HTML in obsidian. */
	/* the reason why class is included is because of the fact quartz transcribes data-callout as a class as well in the output, this ensures things can remain colored despite maybe not having data-callout for whatever reason */
	--callout-color: 200,208,208; /* must be R, G, B (255, 255, 255) */
	--callout-icon: ''; /* for custom statuses ie. Poise, leave as ''. otherwise use Lucide */
    --color: rgba(var(--callout-color), 1); /* this is for Quartz */
    --border: rgba(var(--callout-color), 0.267); /* this is for Quartz */
    --bg: rgba(var(--callout-color), 0.063); /* this is for Quartz */
}
h1.customname, h2.customname, h3.customname, h4.customname, h5.customname, h6.customname, span.customname, a.customname, p.customname, a[data-href="customname"] /* should cover all your bases, tell me if something's missing */ {
	color: #ffffff; /* will use this color */
	font-weight: bold; /* use normal for no bold */
	font-style: normal; /* use italic for italics, or oblique */
	font-variant: normal; /* use small-caps for small caps */
}

/* note: link colors *for Quartz* must be set in custom.scss (quartz/styles/custom.scss)
quick notes about selectors:
    1. they MUST be captalized! (Poise = yes, poise = no)
    2. Bursts unfortunately cannot have link colors (this is due to a limitation: I can't select the contents of <a> within css, thus it cannot determine the difference between [[Tremor|Seisimic Shock]] and [[Tremor]] since it renders the data-href and href attributes as Tremor), and besides, bursts shouldn't need to link back to their statuses since it's likely it'll already be linked somewhere nearby...
    3. Stats like Combat do not need links
    4. use a[data-href="Name"] HERE for Obsidian links in customcolors.css, a[href="Name"] is exclusive to custom.scss (and comes with its own bundles of fucking joy /sarc)
    5. How to do selectors:
        ="STRING"
            > finds EXACTLY the STRING:
				ex. ="Poise - Hemorrhage", ="Poise - Scorching", does not select "Poise"
        *= "STRING"
            > anything CONTAINING the STRING:
				ex. "Vital States" -> =*"Vital"
        |= "STRING"
            > anything BEGINNING or EQUAL to the STRING:
				ex. "S. Body" -> |="S."
        ^= "STRING"
            > anything BEGINNING with the STRING:
				ex. is more specific: "Soul level" -> ^="Soul"
        $= "STRING"
            > anything ENDING with the STRING:
				ex. "Poise - Scorching" -> $="Scorching"
*/


/* biography utilities */
.callout[data-callout="signature"], .signature {
	--callout-color: 153, 153, 153;
	--callout-icon: lucide-signature;
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
}

.callout[data-callout="biography"], .biography {
	--callout-color: 153, 153, 153;
	--callout-icon: lucide-eye;
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
}
.callout[data-callout="inv"], .inv {
	--callout-color: 145, 101, 72;
	--callout-icon: lucide-backpack;
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);

}
.callout[data-callout="menuu"], .menuu {
	--callout-color: 153, 153, 153;
	--callout-icon: lucide-menu;
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
}
.callout[data-callout="cyber"], .cyber {
	--callout-color: 189, 155, 46;
	--callout-icon: lucide-square-activity;
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
}
.callout[data-callout="hum"], .hum {
	--callout-color: 80, 196, 37;
	--callout-icon: lucide-person-standing;
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
}
.callout[data-callout="stats"], .stats {
	--callout-color: 46, 189, 110;
	--callout-icon: lucide-waypoints;
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
}
.callout[data-callout="soulstats"], .soulstats {
	--callout-icon: lucide-flame;
}
.callout[data-callout="passives"], .passives {
	--callout-color: 153, 153, 153;
	--callout-icon: lucide-dna;
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
}
.callout[data-callout="plus"], .plus {
	--callout-color: 66, 196, 37;
	--callout-icon: lucide-plus;
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
}
.callout[data-callout="minus"], .minus {
	--callout-color: 196, 37, 66;
	--callout-icon: lucide-minus;
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
}
	/* stats */
.callout[data-callout="rolls"], .rolls, .callout[data-callout="body"], .body, .callout[data-callout="reflex"], .reflex, .callout[data-callout="tech"], .tech, .callout[data-callout="intel"], .intel, .callout[data-callout="cool"], .cool {
	--callout-color: 69, 179, 124;
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
}
.callout[data-callout="body"] {
	--callout-icon: lucide-biceps-flexed;
}
.callout[data-callout="reflex"] {
	--callout-icon: lucide-eye;
}
.callout[data-callout="tech"] {
	--callout-icon: lucide-cpu;
}
.callout[data-callout="intel"] {
	--callout-icon: lucide-brain-cog;
}
.callout[data-callout="cool"] {
	--callout-icon: lucide-scale;
}
.callout[data-callout="rolls"] {
	--callout-icon: lucide-dices;
}
.callout[data-callout="combat"], .combat {
	--callout-color: 230, 96, 96;
	--callout-icon: lucide-sword;
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
}
.callout[data-callout="sneak"], .sneak {
	--callout-color: 154, 96, 230;
	--callout-icon: lucide-eye-closed;
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
}
.callout[data-callout="mental"], .mental {
	--callout-color: 96, 165, 230;
	--callout-icon: lucide-brain;
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
}
.callout[data-callout="soulstats"], .soulstats, .callout[data-callout-metadata*="s."] {
	--callout-color: 114, 81, 190;
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
}

/* status customs */
.callout[data-callout="poise"], .poise {
	--callout-color: 200,208,208;
	--callout-icon: '';
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
}
h1.poise, h2.poise, h3.poise, h4.poise, h5.poise, h6.poise, span.poise, a.poise, p.poise {
	color: #c8d0d0;
	--link-color: #c8d0d0;
	font-weight:bold;
}

.callout[data-callout="scorch"], .scorch {
	--callout-color: 255,89,31;
	--callout-icon: '';
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
}
h1.scorch, h2.scorch, h3.scorch, h4.scorch, h5.scorch, h6.scorch, span.scorch, a.scorch, p.scorch {
	color: #d53f1b;
	font-weight:bold;
}

.callout[data-callout="burn"], .burn {
	--callout-color: 255,120,31;
	--callout-icon: '';
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
}
h1.burn, h2.burn, h3.burn, h4.burn, h5.burn, h6.burn, span.burn, a.burn, p.burn, a[data-href*="Burn"] {
	color: #ec8209;
	--link-color: #ec8209;
	font-weight:bold;
}

.callout[data-callout="bleed"] {
	--callout-color: 223, 21, 7;
	--callout-icon: '';
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
}
h1.bleed, h2.bleed, h3.bleed, h4.bleed, h5.bleed, h6.bleed, span.bleed, a.bleed, p.bleed, a[data-href*="Bloodloss"] {
	color: #b1120e;
	--link-color: #b1120e;
	font-weight:bold;
}

.callout[data-callout="hemo"], .hemo {
	--callout-color: 198,16,0;
	--callout-icon: '';
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
}
h1.hemo, h2.hemo, h3.hemo, h4.hemo, h5.hemo, h6.hemo, span.hemo, a.hemo, p.hemo {
	color: #760e06;
	font-weight:bold;
}

.callout[data-callout="vital"], .vital {
	--callout-color: 12,230,141;
	--callout-icon: '';
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
}
h1.vital, h2.vital, h3.vital, h4.vital, h5.vital, h6.vital, span.vital, a.vital, p.vital,
a[data-href*="Vital"] {
	color: #1fdb4e;
	--link-color: #1fdb4e;
	font-weight:bold;
}

.callout[data-callout="downed"], .downed {
	--callout-color: 160, 61, 4;
	--callout-icon: '';
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
}
h1.downed, h2.downed, h3.downed, h4.downed, h5.downed, h6.downed, span.downed, a.downed, p.downed,
a[data-href*="Downed"] {
	color: #ea5f1d;
	--link-color: #ea5f1d;
	font-weight:bold;
}

.callout[data-callout="dd"], .dd {
	--callout-color: 107, 9, 2;
	--callout-icon: '';
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
}
h1.dd, h2.dd, h3.dd, h4.dd, h5.dd, h6.dd, span.dd, a.dd, p.dd,
a[data-href="Death's Door"] {
	color: #e00000;
	--link-color: #e00000;
	font-weight:bold;
}

.callout[data-callout="ddrec"], .ddrec {
	--callout-color: 191, 187, 187;
	--callout-icon: '';
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
}
h1.ddrec, h2.ddrec, h3.ddrec, h4.ddrec, h5.ddrec, h6.ddrec, span.ddrec, a.ddrec, p.ddrec,
a[data-href*="Recovery"] {
	color: #bfbbbb;
	--link-color: #bfbbbb;
	font-weight:bold;
}

.callout[data-callout="down"], .down {
	--callout-color:33, 132, 237;
	--callout-icon: '';
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
}
.callout[data-callout="up"], .up {
	--callout-color: 224, 26, 30;
	--callout-icon: '';
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
}
.callout[data-callout="guardbreak"], .guardbreak {
	--callout-color: 116, 6, 2;
	--callout-icon: '';
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
}
.callout[data-callout="tremor"], .tremor {
	--callout-color: 236, 182, 121;
	--callout-icon: '';
}
.callout[data-callout="tox"], .tox {
	--callout-color: 62, 212, 60;
	--callout-icon: '';
}
.callout[data-callout="stealth"], .stealth {
	--callout-color: 117, 73, 204;
	--callout-icon: '';
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
}
.callout[data-callout="venom"], .venom {
	--callout-color: 62, 30, 204;
	--callout-icon: '';
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
}
.callout[data-callout="poiseven"], .poiseven {
	--callout-color: 68, 4, 151;
	--callout-icon: '';
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
}
.callout[data-callout="tremorhemo"], .tremorhemo {
	--callout-color: 210, 74, 40;
	--callout-icon: '';
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
}
.callout[data-callout="crit"], .crit {
	--callout-color: 248, 219, 155;
	--callout-icon: '';
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
}
.callout[data-callout="stance"], .stance {
	--callout-color: 213, 162, 32;
	--callout-icon: '';
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
}
.callout[data-callout="stancebreak"], .stancebreak {
	--callout-color: 245, 199, 36;
	--callout-icon: '';
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
}
.callout[data-callout="sheath"], .sheath {
	--callout-color: 199, 210, 224;
	--callout-icon: '';
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
}
.callout[data-callout="unsheath"], .unsheath {
	--callout-color: 141, 178, 226;
	--callout-icon: '';
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
}
.callout[data-callout="awakened"], .awakened {
	--callout-color: 197, 9, 15;
	--callout-icon: '';
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
}
.callout[data-callout="shatt"], .shatt {
	--callout-color: 71, 30, 152;
	--callout-icon: '';
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
}
.callout[data-callout="nimius"], .nimius {
	--callout-color: 167, 7, 28;
	--callout-icon: '';
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
}
.callout[data-callout="aether"], .aether {
	--callout-color: 93, 161, 217;
	--callout-icon: '';
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
}
.callout[data-callout="aurora"], .aurora {
	--callout-color: 241, 200, 146;
	--callout-icon: '';
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
}
.callout[data-callout="noctis"], .noctis {
	--callout-color: 152, 54, 197;
	--callout-icon: '';
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
}
.nonexistant2 { /*another color picker for yours truly*/
	color: rgba(241, 200, 146, 0.267);
	color: rgb(255, 255, 255)
}