/* templates */

.callout[data-callout="customname"], .customname {
	/* the reason why class is included is because of the fact quartz transcribes data-callout as a class as well in the output, this ensures things can remain colored */
	--callout-color: 200,208,208; /* must be R, G, B (255, 255, 255) */
	--callout-icon: ''; /* for custom statuses (ie. Poise), leave as ''. otherwise use Lucide icons */
    --color: rgba(var(--callout-color), 1); /* this is for Quartz */
    --border: rgba(var(--callout-color), 0.267); /* this is for Quartz */
    --bg: rgba(var(--callout-color), 0.063); /* this is for Quartz */
	--highlight: rgba(var(--callout-color), 0.15); /* this is for Quartz */
} /* should cover all your bases, 'i' is for insensitive case (so Customname and customname both get 'caught'). data-href can have spaces; href can't (dashes instead) */
.customname, [data-href="custom name" i], .tag[href*="custom-name" i] { 
	--custom-color: #ffffff; /* color here */
	font-weight: bold; /* use normal for no bold */
	font-style: normal; /* use italic for italics, or oblique */
	font-variant: normal; /* use small-caps for small caps */
	--link-color: var(--custom-color);
	--link-color-hover: color-mix(in srgb, var(--link-color) 50%, white 50%);
	--tag-background: color-mix(in srgb, var(--custom-color) 30%, transparent 100%);
	--tag-background-hover: color-mix(in srgb, var(--custom-color) 40%, transparent 70%);
	--tag-color-hover: color-mix(in srgb, var(--custom-color) 50%, white 50%);
	--tag-background: color-mix(in srgb, var(--custom-color) 30%, transparent 100%);
	--tag-background-hover: color-mix(in srgb, var(--custom-color) 40%, transparent 70%);
	--tag-color-hover: color-mix(in srgb, var(--custom-color) 50%, white 50%);
 /* repeat color here, */
	color: var(--custom-color);
	--highlight: #ffffff26; /* repeat color here, 26 is for opacity*/
}

/* note: colors *for Quartz* must be set in custom.scss as well! (quartz/styles/custom.scss)
quick notes about selectors:
    1. Bursts unfortunately cannot have their own link colors (this is due to a limitation: I can't select the contents of <a> within css, thus it cannot determine the difference between [[Tremor|Seisimic Shock]] and [[Tremor]] since it renders the data-href and href attributes as Tremor).
	HOWEVER, in lieu of tags now being included in here for QoL, they CAN and SHOULD have colors anyways.
    2. How to do selectors:
        ="STRING"
            > finds EXACTLY the STRING:
				ex. ="Poise - Hemorrhage", ="Poise - Scorching", does not select "Poise"
        *= "STRING"
            > anything CONTAINING the STRING:
				ex. "Vital States" -> =*"Vital"
        |= "STRING"
            > anything BEGINNING or EQUAL to the STRING:
				ex. "S. Body" -> |="S."
        ^= "STRING"
            > anything BEGINNING with the STRING:
				ex. is more specific: "Soul level" -> ^="Soul"
        $= "STRING"
            > anything ENDING with the STRING:
				ex. "Poise - Scorching" -> $="Scorching"
*/


/* biography utilities */
.callout[data-callout="signature"], .signature {
	--callout-color: 153, 153, 153;
	--callout-icon: lucide-signature;
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
	--highlight: rgba(var(--callout-color), 0.15);
}
.neutral, .signature, .biography, .menuu, .passives, [data-href*="Signature" i], [data-href*="Biography" i], [data-href*="Menu" i], [data-href*="Passives" i], [data-href*="Neutral" i], .tag[href*="Biography" i], .tag[href*="Menu" i], .tag[href*="Passives" i], .tag[href*="Neutral" i],
[data-href*="Base Power"], [data-href*="Ceiling Power"], [data-href*="Final Power"] {
	--custom-color: #999999;
	--link-color: var(--custom-color);
	--link-color-hover: color-mix(in srgb, var(--link-color) 50%, white 50%);
	--tag-background: color-mix(in srgb, var(--custom-color) 30%, transparent 100%);
	--tag-background-hover: color-mix(in srgb, var(--custom-color) 40%, transparent 70%);
	--tag-color-hover: color-mix(in srgb, var(--custom-color) 50%, white 50%);

	color: var(--custom-color);
	font-weight:bold;
	--highlight: #99999926;
}

.callout[data-callout="biography"], .biography {
	--callout-color: 153, 153, 153;
	--callout-icon: lucide-eye;
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
	--highlight: rgba(var(--callout-color), 0.15);
}

.callout[data-callout="neutral"], .neutral {
	--callout-color: 153, 153, 153;
	--callout-icon: lucide-eye;
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
	--highlight: rgba(var(--callout-color), 0.15);
}

.callout[data-callout="inv"], .inv {
	--callout-color: 145, 101, 72;
	--callout-icon: lucide-backpack;
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
	--highlight: rgba(var(--callout-color), 0.15);

}
.inv, [data-href*="Inventory" i], .tag[href*="Inventory" i] {
	--custom-color: #916548;
	--link-color: var(--custom-color);
	--link-color-hover: color-mix(in srgb, var(--link-color) 50%, white 50%);
	--tag-background: color-mix(in srgb, var(--custom-color) 30%, transparent 100%);
	--tag-background-hover: color-mix(in srgb, var(--custom-color) 40%, transparent 70%);
	--tag-color-hover: color-mix(in srgb, var(--custom-color) 50%, white 50%);

	color: var(--custom-color);
	font-weight:bold;
	--highlight: #91654826;
}

.callout[data-callout="menuu"], .menuu {
	--callout-color: 153, 153, 153;
	--callout-icon: lucide-menu;
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
	--highlight: rgba(var(--callout-color), 0.15);
}

.callout[data-callout="cyber"], .cyber {
	--callout-color: 189, 155, 46;
	--callout-icon: lucide-square-activity;
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
	--highlight: rgba(var(--callout-color), 0.15);
}
.cyber, [data-href*="Cyberware" i], .tag[href*="Cyberware" i] {
	--custom-color: #bd9b2e;
	--link-color: var(--custom-color);
	--link-color-hover: color-mix(in srgb, var(--link-color) 50%, white 50%);
	--tag-background: color-mix(in srgb, var(--custom-color) 30%, transparent 100%);
	--tag-background-hover: color-mix(in srgb, var(--custom-color) 40%, transparent 70%);
	--tag-color-hover: color-mix(in srgb, var(--custom-color) 50%, white 50%);

	color: var(--custom-color);
	font-weight:bold;
	--highlight: #bd9b2e26;
}

.callout[data-callout="hum"], .hum {
	--callout-color: 80, 196, 37;
	--callout-icon: lucide-person-standing;
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
	--highlight: rgba(var(--callout-color), 0.15);
}
.hum, [data-href*="Humanity" i], .tag[href*="Humanity" i] {
	--custom-color: #50c425;
	--link-color: var(--custom-color);
	--link-color-hover: color-mix(in srgb, var(--link-color) 50%, white 50%);
	--tag-background: color-mix(in srgb, var(--custom-color) 30%, transparent 100%);
	--tag-background-hover: color-mix(in srgb, var(--custom-color) 40%, transparent 70%);
	--tag-color-hover: color-mix(in srgb, var(--custom-color) 50%, white 50%);

	color: var(--custom-color);
	font-weight:bold;
	--highlight: #50c42526;
}
.callout[data-callout="humlow"], .humlow {
	--callout-color: 80, 196, 37;
	--callout-icon: lucide-person-standing;
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
	--highlight: rgba(var(--callout-color), 0.15);
}
.humlow, [data-href*="Low Humanity" i], [data-href*="Humanity Loss" i], .tag[href*="Low Humanity" i], .tag[href*="Humanity Loss" i] {
	--custom-color: #d04339;
	--link-color: var(--custom-color);
	--link-color-hover: color-mix(in srgb, var(--link-color) 50%, white 50%);
	--tag-background: color-mix(in srgb, var(--custom-color) 30%, transparent 100%);
	--tag-background-hover: color-mix(in srgb, var(--custom-color) 40%, transparent 70%);
	--tag-color-hover: color-mix(in srgb, var(--custom-color) 50%, white 50%);

	color: var(--custom-color);
	font-weight:bold;
	--highlight: #d0433926;
}

.callout[data-callout="stats"], .stats {
	--callout-color: 46, 189, 110;
	--callout-icon: lucide-waypoints;
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
	--highlight: rgba(var(--callout-color), 0.15);
}
.stats, [data-href*="Stats" i], .tag[href*="Stats" i] {
	--custom-color: #2ebd6e;
	--link-color: var(--custom-color);
	--link-color-hover: color-mix(in srgb, var(--link-color) 50%, white 50%);
	--tag-background: color-mix(in srgb, var(--custom-color) 30%, transparent 100%);
	--tag-background-hover: color-mix(in srgb, var(--custom-color) 40%, transparent 70%);
	--tag-color-hover: color-mix(in srgb, var(--custom-color) 50%, white 50%);

	color: var(--custom-color);
	font-weight:bold;
	--highlight: #2ebd6e26;
}

.callout[data-callout="soulstats"], .soulstats {
	--callout-icon: lucide-flame;
}

.callout[data-callout="passives"], .passives {
	--callout-color: 153, 153, 153;
	--callout-icon: lucide-dna;
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
	--highlight: rgba(var(--callout-color), 0.15);
}

.callout[data-callout="plus"], .plus, .callout[data-callout="positive"], .positive {
	--callout-color: 66, 196, 37;
	--callout-icon: lucide-plus;
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
	--highlight: rgba(var(--callout-color), 0.15);
}
.plus, [data-href*="Plus" i], .tag[href*="Plus" i], .positive, [data-href*="Positive" i], .tag[href*="Positive" i] {
	--custom-color: #42c403;
	--link-color: var(--custom-color);
	--link-color-hover: color-mix(in srgb, var(--link-color) 50%, white 50%);
	--tag-background: color-mix(in srgb, var(--custom-color) 30%, transparent 100%);
	--tag-background-hover: color-mix(in srgb, var(--custom-color) 40%, transparent 70%);
	--tag-color-hover: color-mix(in srgb, var(--custom-color) 50%, white 50%);

	color: var(--custom-color);
	font-weight:bold;
	--highlight: #42c40326;
}

.callout[data-callout="minus"], .minus, .callout[data-callout="negative"], .negative {
	--callout-color: 196, 37, 66;
	--callout-icon: lucide-minus;
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
	--highlight: rgba(var(--callout-color), 0.15);
}
.negative, [data-href*="Negative" i], .tag[href*="Negative" i], .minus, [data-href*="Minus" i], .tag[href*="Minus" i] {
	--custom-color: #c42542;
	--link-color: var(--custom-color);
	--link-color-hover: color-mix(in srgb, var(--link-color) 50%, white 50%);
	--tag-background: color-mix(in srgb, var(--custom-color) 30%, transparent 100%);
	--tag-background-hover: color-mix(in srgb, var(--custom-color) 40%, transparent 70%);
	--tag-color-hover: color-mix(in srgb, var(--custom-color) 50%, white 50%);

	color: var(--custom-color);
	font-weight:bold;
	--highlight: #c4254226;
}

	/* stats */
.callout[data-callout="rolls"], .rolls, .callout[data-callout="body"], .body, .callout[data-callout="reflex"], .reflex, .callout[data-callout="tech"], .tech, .callout[data-callout="intel"], .intel, .callout[data-callout="cool"], .cool {
	--callout-color: 69, 179, 124;
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
	--highlight: rgba(var(--callout-color), 0.15);
}
.rolls, .body, .reflex, .tech, .intel, .cool, [data-href*="Combat"], .tag[href*="Combat"], [data-href*="Rolls" i], .tag[href*="Rolls" i], [data-href*="Body" i], .tag[href*="Body" i], [data-href*="Reflexes" i], .tag[href*="Reflexes" i], [data-href*="Technical" i], .tag[href*="Technical" i], [data-href*="Intelligence" i], .tag[href*="Intelligence" i], [data-href*="Cool" i], .tag[href*="Cool" i] {
	--custom-color: #45b37c;
	--link-color: var(--custom-color);
	--link-color-hover: color-mix(in srgb, var(--link-color) 50%, white 50%);
	--tag-background: color-mix(in srgb, var(--custom-color) 30%, transparent 100%);
	--tag-background-hover: color-mix(in srgb, var(--custom-color) 40%, transparent 70%);
	--tag-color-hover: color-mix(in srgb, var(--custom-color) 50%, white 50%);

	color: var(--custom-color);
	font-weight:bold;
	--highlight: #45b37c26;
}

.callout[data-callout="body"] {
	--callout-icon: lucide-biceps-flexed;
}
.callout[data-callout="reflex"] {
	--callout-icon: lucide-eye;
}
.callout[data-callout="tech"] {
	--callout-icon: lucide-cpu;
}
.callout[data-callout="intel"] {
	--callout-icon: lucide-brain-cog;
}
.callout[data-callout="cool"] {
	--callout-icon: lucide-scale;
}
.callout[data-callout="rolls"] {
	--callout-icon: lucide-dices;
}
.callout[data-callout="combat"], .combat {
	--callout-color: 230, 96, 96;
	--callout-icon: lucide-sword;
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
	--highlight: rgba(var(--callout-color), 0.15);
}
.combat, [data-href*="Combat" i], .tag[href*="Combat" i] {
	--custom-color: #e66060;
	--link-color: var(--custom-color);
	--link-color-hover: color-mix(in srgb, var(--link-color) 50%, white 50%);
	--tag-background: color-mix(in srgb, var(--custom-color) 30%, transparent 100%);
	--tag-background-hover: color-mix(in srgb, var(--custom-color) 40%, transparent 70%);
	--tag-color-hover: color-mix(in srgb, var(--custom-color) 50%, white 50%);

	color: var(--custom-color);
	font-weight:bold;
	--highlight: #e6606026;
}

.callout[data-callout="sneak"], .sneak {
	--callout-color: 154, 96, 230;
	--callout-icon: lucide-eye-closed;
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
	--highlight: rgba(var(--callout-color), 0.15);
}
.sneak, [data-href*="Sneak" i], .tag[href*="Sneak" i] {
	--custom-color: #9a60e6;
	--link-color: var(--custom-color);
	--link-color-hover: color-mix(in srgb, var(--link-color) 50%, white 50%);
	--tag-background: color-mix(in srgb, var(--custom-color) 30%, transparent 100%);
	--tag-background-hover: color-mix(in srgb, var(--custom-color) 40%, transparent 70%);
	--tag-color-hover: color-mix(in srgb, var(--custom-color) 50%, white 50%);

	color: var(--custom-color);
	font-weight:bold;
	--highlight: #9a60e626;
}

.callout[data-callout="mental"], .mental {
	--callout-color: 96, 165, 230;
	--callout-icon: lucide-brain;
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
	--highlight: rgba(var(--callout-color), 0.15);
}
.mental, [data-href*="Mental" i], .tag[href*="Mental" i] {
	--custom-color: #60a5e6;
	--link-color: var(--custom-color);
	--link-color-hover: color-mix(in srgb, var(--link-color) 50%, white 50%);
	--tag-background: color-mix(in srgb, var(--custom-color) 30%, transparent 100%);
	--tag-background-hover: color-mix(in srgb, var(--custom-color) 40%, transparent 70%);
	--tag-color-hover: color-mix(in srgb, var(--custom-color) 50%, white 50%);

	color: var(--custom-color);
	font-weight:bold;
	--highlight: #60a5e626;
}

.callout[data-callout="defense"], .defense {
	--callout-color: 230, 172, 96;
	--callout-icon: lucide-shield;
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
	--highlight: rgba(var(--callout-color), 0.15);
}
.defense, [data-href*="Defense" i], .tag[href*="Defense" i] {
	--custom-color: #e6ac60;
	--link-color: var(--custom-color);
	--link-color-hover: color-mix(in srgb, var(--link-color) 50%, white 50%);
	--tag-background: color-mix(in srgb, var(--custom-color) 30%, transparent 100%);
	--tag-background-hover: color-mix(in srgb, var(--custom-color) 40%, transparent 70%);
	--tag-color-hover: color-mix(in srgb, var(--custom-color) 50%, white 50%);

	color: var(--custom-color);
	font-weight:bold;
	--highlight: #e6ac6026;
}

.callout[data-callout="soulstats"], .soulstats, .callout[data-callout-metadata*="s."] {
	--callout-color: 114, 81, 190;
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
	--highlight: rgba(var(--callout-color), 0.15);
}
.soulstats, [data-href*="Soul Stats" i], .tag[href*="Soul Stats" i] {
	--custom-color: #7251be;
	--link-color: var(--custom-color);
	--link-color-hover: color-mix(in srgb, var(--link-color) 50%, white 50%);
	--tag-background: color-mix(in srgb, var(--custom-color) 30%, transparent 100%);
	--tag-background-hover: color-mix(in srgb, var(--custom-color) 40%, transparent 70%);
	--tag-color-hover: color-mix(in srgb, var(--custom-color) 50%, white 50%);

	color: var(--custom-color);
	font-weight:bold;
	--highlight: #7251be26;
}

.callout[data-callout="soul"], .soul {
	--callout-color: 180, 133, 249;
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
	--highlight: rgba(var(--callout-color), 0.15);
}
.soul, [data-href*="Soul" i], .tag[href*="Soul" i] {
	--custom-color: #b485f9;
	--link-color: var(--custom-color);
	--link-color-hover: color-mix(in srgb, var(--link-color) 50%, white 50%);
	--tag-background: color-mix(in srgb, var(--custom-color) 30%, transparent 100%);
	--tag-background-hover: color-mix(in srgb, var(--custom-color) 40%, transparent 70%);
	--tag-color-hover: color-mix(in srgb, var(--custom-color) 50%, white 50%);

	color: var(--custom-color);
	font-weight:bold;
	--highlight: #b485f926;
}

/*b485f9*/
/* status customs */
.callout[data-callout="actions"], .actions {
	--callout-color: 230, 164, 51;
	--callout-icon: '';
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
	--highlight: rgba(var(--callout-color), 0.15);
}
.actions, [data-href*="Actions" i], .tag[href*="Actions" i] {
	--custom-color: #e6a433;
	--link-color: var(--custom-color);
	--link-color-hover: color-mix(in srgb, var(--link-color) 50%, white 50%);
	--tag-background: color-mix(in srgb, var(--custom-color) 30%, transparent 100%);
	--tag-background-hover: color-mix(in srgb, var(--custom-color) 40%, transparent 70%);
	--tag-color-hover: color-mix(in srgb, var(--custom-color) 50%, white 50%);

	color: var(--custom-color);
	font-weight:bold;
	--highlight: #e6a43326;
}

.callout[data-callout="poise"], .poise {
	--callout-color: 200,208,208;
	--callout-icon: '';
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
	--highlight: rgba(var(--callout-color), 0.15);
}
.poise, [data-href*="Poise" i], .tag[href*="Poise" i] {
	--custom-color: #c8d0d0;
	--link-color: var(--custom-color);
	--link-color-hover: color-mix(in srgb, var(--link-color) 50%, white 50%);
	--tag-background: color-mix(in srgb, var(--custom-color) 30%, transparent 100%);
	--tag-background-hover: color-mix(in srgb, var(--custom-color) 40%, transparent 70%);
	--tag-color-hover: color-mix(in srgb, var(--custom-color) 50%, white 50%);

	color: var(--custom-color);
	font-weight:bold;
	--highlight: #c8d0d026;
}

.callout[data-callout="scorch"], .scorch {
	--callout-color: 255,89,31;
	--callout-icon: '';
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
	--highlight: rgba(var(--callout-color), 0.15);
}
.scorch, [data-href*="Scorching" i], .tag[href*="Scorching" i] {
	--custom-color: #d53f1b;
	--link-color: var(--custom-color);
	--link-color-hover: color-mix(in srgb, var(--link-color) 50%, white 50%);
	--tag-background: color-mix(in srgb, var(--custom-color) 30%, transparent 100%);
	--tag-background-hover: color-mix(in srgb, var(--custom-color) 40%, transparent 70%);
	--tag-color-hover: color-mix(in srgb, var(--custom-color) 50%, white 50%);

	color: var(--custom-color);
	font-weight:bold;
	--highlight: #d53f1b26;
}

.callout[data-callout="burn"], .burn {
	--callout-color: 255,120,31;
	--callout-icon: '';
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
	--highlight: rgba(var(--callout-color), 0.15);
}
.burn, [data-href*="Burn" i], .tag[href*="Burn" i] {
	--custom-color: #ec8209;
	--link-color: var(--custom-color);
	--link-color-hover: color-mix(in srgb, var(--link-color) 50%, white 50%);
	--tag-background: color-mix(in srgb, var(--custom-color) 30%, transparent 100%);
	--tag-background-hover: color-mix(in srgb, var(--custom-color) 40%, transparent 70%);
	--tag-color-hover: color-mix(in srgb, var(--custom-color) 50%, white 50%);

	color: var(--custom-color);
	font-weight:bold;
	--highlight: #ec820926;
}

.callout[data-callout="igni"], .igni {
	--callout-color: 251, 174, 9;
	--callout-icon: '';
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
	--highlight: rgba(var(--callout-color), 0.15);
}
.igni, [data-href*="Ignition" i], .tag[href*="Ignition" i] {
	--custom-color: #fbae09;
	--link-color: var(--custom-color);
	--link-color-hover: color-mix(in srgb, var(--link-color) 50%, white 50%);
	--tag-background: color-mix(in srgb, var(--custom-color) 30%, transparent 100%);
	--tag-background-hover: color-mix(in srgb, var(--custom-color) 40%, transparent 70%);
	--tag-color-hover: color-mix(in srgb, var(--custom-color) 50%, white 50%);

	color: var(--custom-color);
	font-weight:bold;
	--highlight: #fbae0926;
}

.callout[data-callout="bleed"] {
	--callout-color: 223, 21, 7;
	--callout-icon: '';
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
	--highlight: rgba(var(--callout-color), 0.15);
}
.bleed, [data-href*="Bloodloss" i], .tag[href*="Bloodloss" i] {
	--custom-color: #b1120e;
	--link-color: var(--custom-color);
	--link-color-hover: color-mix(in srgb, var(--link-color) 50%, white 50%);
	--tag-background: color-mix(in srgb, var(--custom-color) 30%, transparent 100%);
	--tag-background-hover: color-mix(in srgb, var(--custom-color) 40%, transparent 70%);
	--tag-color-hover: color-mix(in srgb, var(--custom-color) 50%, white 50%);

	color: var(--custom-color);
	font-weight:bold;
	--highlight: #b1120e26;
}

.callout[data-callout="hemo"], .hemo {
	--callout-color: 198,16,0;
	--callout-icon: '';
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
	--highlight: rgba(var(--callout-color), 0.15);
}
.hemo, [data-href*="Hemorrhage" i], .tag[href*="Hemorrhage" i] {
	--custom-color: #760e06;
	--link-color: var(--custom-color);
	--link-color-hover: color-mix(in srgb, var(--link-color) 50%, white 50%);
	--tag-background: color-mix(in srgb, var(--custom-color) 30%, transparent 100%);
	--tag-background-hover: color-mix(in srgb, var(--custom-color) 40%, transparent 70%);
	--tag-color-hover: color-mix(in srgb, var(--custom-color) 50%, white 50%);

	color: var(--custom-color);
	font-weight:bold;
	--highlight: #760e0626;
}

.callout[data-callout="vital"], .vital {
	--callout-color: 12,230,141;
	--callout-icon: '';
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
	--highlight: rgba(var(--callout-color), 0.15);
}
.vital, [data-href*="Vital" i], .tag[href*="Vital" i] {
	--custom-color: #1fdb4e;
	--link-color: var(--custom-color);
	--link-color-hover: color-mix(in srgb, var(--link-color) 50%, white 50%);
	--tag-background: color-mix(in srgb, var(--custom-color) 30%, transparent 100%);
	--tag-background-hover: color-mix(in srgb, var(--custom-color) 40%, transparent 70%);
	--tag-color-hover: color-mix(in srgb, var(--custom-color) 50%, white 50%);

	color: var(--custom-color);
	font-weight:bold;
	--highlight: #1fdb4e26;
}

.callout[data-callout="downed"], .downed {
	--callout-color: 160, 61, 4;
	--callout-icon: '';
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
	--highlight: rgba(var(--callout-color), 0.15);
}
.downed, [data-href*="Downed" i], .tag[href*="Downed" i] {
	--custom-color: #ea5f1d;
	--link-color: var(--custom-color);
	--link-color-hover: color-mix(in srgb, var(--link-color) 50%, white 50%);
	--tag-background: color-mix(in srgb, var(--custom-color) 30%, transparent 100%);
	--tag-background-hover: color-mix(in srgb, var(--custom-color) 40%, transparent 70%);
	--tag-color-hover: color-mix(in srgb, var(--custom-color) 50%, white 50%);

	color: var(--custom-color);
	font-weight:bold;
	--highlight: #ea5f1d26;
}

.callout[data-callout="dd"], .dd {
	--callout-color: 107, 9, 2;
	--callout-icon: '';
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
	--highlight: rgba(var(--callout-color), 0.15);
}
.dd, [data-href*="Death's Door" i], .tag[href*="Death's Door" i] {
	--custom-color: #e00000;
	--link-color: var(--custom-color);
	--link-color-hover: color-mix(in srgb, var(--link-color) 50%, white 50%);
	--tag-background: color-mix(in srgb, var(--custom-color) 30%, transparent 100%);
	--tag-background-hover: color-mix(in srgb, var(--custom-color) 40%, transparent 70%);
	--tag-color-hover: color-mix(in srgb, var(--custom-color) 50%, white 50%);

	color: var(--custom-color);
	font-weight:bold;
	--highlight: #e0000026;
}

.callout[data-callout="ddrec"], .ddrec {
	--callout-color: 191, 187, 187;
	--callout-icon: '';
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
	--highlight: rgba(var(--callout-color), 0.15);
}
.ddrec, [data-href*="Recovery" i], .tag[href*="Recovery" i] {
	--custom-color: #bfbbbb;
	--link-color: var(--custom-color);
	--link-color-hover: color-mix(in srgb, var(--link-color) 50%, white 50%);
	--tag-background: color-mix(in srgb, var(--custom-color) 30%, transparent 100%);
	--tag-background-hover: color-mix(in srgb, var(--custom-color) 40%, transparent 70%);
	--tag-color-hover: color-mix(in srgb, var(--custom-color) 50%, white 50%);

	color: var(--custom-color);
	font-weight:bold;
	--highlight: #bfbbbb26;
}

.callout[data-callout="down"], .down {
	--callout-color:33, 132, 237;
	--callout-icon: '';
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
	--highlight: rgba(var(--callout-color), 0.15);
}
.down {
	--custom-color: #1e84f1;
	--link-color: var(--custom-color);
	--link-color-hover: color-mix(in srgb, var(--link-color) 50%, white 50%);
	--tag-background: color-mix(in srgb, var(--custom-color) 30%, transparent 100%);
	--tag-background-hover: color-mix(in srgb, var(--custom-color) 40%, transparent 70%);
	--tag-color-hover: color-mix(in srgb, var(--custom-color) 50%, white 50%);

	color: var(--custom-color);
	font-weight:bold;
	--highlight: #1e84f126;
}

.callout[data-callout="up"], .up {
	--callout-color: 224, 26, 30;
	--callout-icon: '';
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
	--highlight: rgba(var(--callout-color), 0.15);
}
.up {
	--custom-color: #e11414;
	--link-color: var(--custom-color);
	--link-color-hover: color-mix(in srgb, var(--link-color) 50%, white 50%);
	--tag-background: color-mix(in srgb, var(--custom-color) 30%, transparent 100%);
	--tag-background-hover: color-mix(in srgb, var(--custom-color) 40%, transparent 70%);
	--tag-color-hover: color-mix(in srgb, var(--custom-color) 50%, white 50%);

	color: var(--custom-color);
	font-weight:bold;
	--highlight: #e1141426;
}

.callout[data-callout="guardbreak"], .guardbreak, .guardbroken {
	--callout-color: 116, 6, 2;
	--callout-icon: '';
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
	--highlight: rgba(var(--callout-color), 0.15);
}
.guardbreak, [data-href*="Guardbreak" i], [data-href*="Guardbroken" i], .tag[href*="Guardbreak" i], .tag[href*="Guardbroken" i] {
	--custom-color: #641717;
	--link-color: var(--custom-color);
	--link-color-hover: color-mix(in srgb, var(--link-color) 50%, white 50%);
	--tag-background: color-mix(in srgb, var(--custom-color) 30%, transparent 100%);
	--tag-background-hover: color-mix(in srgb, var(--custom-color) 40%, transparent 70%);
	--tag-color-hover: color-mix(in srgb, var(--custom-color) 50%, white 50%);

	color: var(--custom-color);
	font-weight:bold;
	--highlight: #64171726;
}

.callout[data-callout="tremor"], .tremor {
	--callout-color: 236, 182, 121;
	--callout-icon: '';
	--color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
	--highlight: rgba(var(--callout-color), 0.15);
}
.tremor, [data-href*="Tremor" i], .tag[href*="Tremor" i] {
	--custom-color: #eebc77;
	--link-color: var(--custom-color);
	--link-color-hover: color-mix(in srgb, var(--link-color) 50%, white 50%);
	--tag-background: color-mix(in srgb, var(--custom-color) 30%, transparent 100%);
	--tag-background-hover: color-mix(in srgb, var(--custom-color) 40%, transparent 70%);
	--tag-color-hover: color-mix(in srgb, var(--custom-color) 50%, white 50%);

	color: var(--custom-color);
	font-weight:bold;
	--highlight: #eebc7726;
}

.shock {
	--callout-color: 236, 182, 121;
	--callout-icon: '';
}
.shock, [data-href*="Seisimic Shock" i], .tag[href*="Seisimic-Shock" i] {
	--custom-color: #f2a854;
	--link-color: var(--custom-color);
	--link-color-hover: color-mix(in srgb, var(--link-color) 50%, white 50%);
	--tag-background: color-mix(in srgb, var(--custom-color) 30%, transparent 100%);
	--tag-background-hover: color-mix(in srgb, var(--custom-color) 40%, transparent 70%);
	--tag-color-hover: color-mix(in srgb, var(--custom-color) 50%, white 50%);

	color: var(--custom-color);
	font-weight:bold;
	--highlight: #f2a85426;
}

.hemoshock {
	--callout-color: 236, 182, 121;
	--callout-icon: '';
}
.hemoshock, [data-href*="Seisimic Hemorrhage" i], .tag[href*="Seisimic-Hemorrhage" i] {
	--custom-color: #9f2d1e;
	--link-color: var(--custom-color);
	--link-color-hover: color-mix(in srgb, var(--link-color) 50%, white 50%);
	--tag-background: color-mix(in srgb, var(--custom-color) 30%, transparent 100%);
	--tag-background-hover: color-mix(in srgb, var(--custom-color) 40%, transparent 70%);
	--tag-color-hover: color-mix(in srgb, var(--custom-color) 50%, white 50%);

	color: var(--custom-color);
	font-weight:bold;
	--highlight: #9f2d1e26;
}

.callout[data-callout="tox"], .tox {
	--callout-color: 62, 212, 60;
	--callout-icon: '';
	--color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
	--highlight: rgba(var(--callout-color), 0.15);
}
.tox, [data-href*="Toxin" i], .tag[href*="Toxin" i] {
	--custom-color: #3ed43c;
	--link-color: var(--custom-color);
	--link-color-hover: color-mix(in srgb, var(--link-color) 50%, white 50%);
	--tag-background: color-mix(in srgb, var(--custom-color) 30%, transparent 100%);
	--tag-background-hover: color-mix(in srgb, var(--custom-color) 40%, transparent 70%);
	--tag-color-hover: color-mix(in srgb, var(--custom-color) 50%, white 50%);

	color: var(--custom-color);
	font-weight:bold;
	--highlight: #3ed43c26;
}

.callout[data-callout="stealth"], .stealth {
	--callout-color: 117, 73, 204;
	--callout-icon: '';
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
	--highlight: rgba(var(--callout-color), 0.15);
}
.stealth, [data-href*="Stealth" i], .tag[href*="Stealth" i] {
	--custom-color: #7549cc;
	--link-color: var(--custom-color);
	--link-color-hover: color-mix(in srgb, var(--link-color) 50%, white 50%);
	--tag-background: color-mix(in srgb, var(--custom-color) 30%, transparent 100%);
	--tag-background-hover: color-mix(in srgb, var(--custom-color) 40%, transparent 70%);
	--tag-color-hover: color-mix(in srgb, var(--custom-color) 50%, white 50%);

	color: var(--custom-color);
	font-weight:bold;
	--highlight: #7549cc26;
}

.callout[data-callout="venom"], .venom {
	--callout-color: 62, 30, 204;
	--callout-icon: '';
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
	--highlight: rgba(var(--callout-color), 0.15);
}
.venom, [data-href*="Venom" i], .tag[href*="Venom" i] {
	--custom-color: #582dcd;
	--link-color: var(--custom-color);
	--link-color-hover: color-mix(in srgb, var(--link-color) 50%, white 50%);
	--tag-background: color-mix(in srgb, var(--custom-color) 30%, transparent 100%);
	--tag-background-hover: color-mix(in srgb, var(--custom-color) 40%, transparent 70%);
	--tag-color-hover: color-mix(in srgb, var(--custom-color) 50%, white 50%);

	color: var(--custom-color);
	font-weight:bold;
	--highlight: #582dcd26;
}

.callout[data-callout="poiseven"], .poiseven {
	--callout-color: 68, 4, 151;
	--callout-icon: '';
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
	--highlight: rgba(var(--callout-color), 0.15);
}
.poiseven, [data-href*="Envenoming" i], .tag[href*="Envenoming" i] {
	--custom-color: #5c12a5;
	--link-color: var(--custom-color);
	--link-color-hover: color-mix(in srgb, var(--link-color) 50%, white 50%);
	--tag-background: color-mix(in srgb, var(--custom-color) 30%, transparent 100%);
	--tag-background-hover: color-mix(in srgb, var(--custom-color) 40%, transparent 70%);
	--tag-color-hover: color-mix(in srgb, var(--custom-color) 50%, white 50%);

	color: var(--custom-color);
	font-weight:bold;
	--highlight: #5c12a526;
}

.callout[data-callout="poiseburn"], .poiseburn {
	--callout-color: 68, 4, 151;
	--callout-icon: '';
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
	--highlight: rgba(var(--callout-color), 0.15);
}
p.poiseburn, [data-href*="Poise" i][data-href*="Scorching" i], .tag[href*="Poise-Scorching" i] {
	--custom-color: #ea5d23;
	--link-color: var(--custom-color);
	--link-color-hover: color-mix(in srgb, var(--link-color) 50%, white 50%);
	--tag-background: color-mix(in srgb, var(--custom-color) 30%, transparent 100%);
	--tag-background-hover: color-mix(in srgb, var(--custom-color) 40%, transparent 70%);
	--tag-color-hover: color-mix(in srgb, var(--custom-color) 50%, white 50%);

	color: var(--custom-color);
	font-weight:bold;
	--highlight: #ea5d2326;
}

.callout[data-callout="poisebleed"], .poisebleed {
	--callout-color: 68, 4, 151;
	--callout-icon: '';
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
	--highlight: rgba(var(--callout-color), 0.15);
}
.poisebleed, [data-href*="Poise" i][data-href*="Hemorrhage" i], .tag[href*="Poise-Hemorrhage" i] {
	--custom-color: #d00b0b;
	--link-color: var(--custom-color);
	--link-color-hover: color-mix(in srgb, var(--link-color) 50%, white 50%);
	--tag-background: color-mix(in srgb, var(--custom-color) 30%, transparent 100%);
	--tag-background-hover: color-mix(in srgb, var(--custom-color) 40%, transparent 70%);
	--tag-color-hover: color-mix(in srgb, var(--custom-color) 50%, white 50%);

	color: var(--custom-color);
	font-weight:bold;
	--highlight: #d00b0b26;
}

.callout[data-callout="tremorhemo"], .tremorhemo {
	--callout-color: 210, 74, 40;
	--callout-icon: '';
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
	--highlight: rgba(var(--callout-color), 0.15);
}
.tremorhemo, [data-href*="Tremor" i][data-href*="Hemorrhage" i], .tag[href*="Tremor-Hemorrhage" i] {
	--custom-color: #d24a28;
	--link-color: var(--custom-color);
	--link-color-hover: color-mix(in srgb, var(--link-color) 50%, white 50%);
	--tag-background: color-mix(in srgb, var(--custom-color) 30%, transparent 100%);
	--tag-background-hover: color-mix(in srgb, var(--custom-color) 40%, transparent 70%);
	--tag-color-hover: color-mix(in srgb, var(--custom-color) 50%, white 50%);

	color: var(--custom-color);
	font-weight:bold;
	--highlight: #d24a2826;
}

.callout[data-callout="crit"], .crit {
	--callout-color: 248, 219, 155;
	--callout-icon: '';
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
	--highlight: rgba(var(--callout-color), 0.15);
}
.crit, [data-href*="Critical" i], .tag[href*="Critical" i] {
	--custom-color: #f8db9b;
	--link-color: var(--custom-color);
	--link-color-hover: color-mix(in srgb, var(--link-color) 50%, white 50%);
	--tag-background: color-mix(in srgb, var(--custom-color) 30%, transparent 100%);
	--tag-background-hover: color-mix(in srgb, var(--custom-color) 40%, transparent 70%);
	--tag-color-hover: color-mix(in srgb, var(--custom-color) 50%, white 50%);

	color: var(--custom-color);
	font-weight:bold;
	--highlight: #f8db9b26;
}

.callout[data-callout="stance"], .stance {
	--callout-color: 213, 162, 32;
	--callout-icon: '';
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
	--highlight: rgba(var(--callout-color), 0.15);
}

.stance, [data-href*="Stance" i], .tag[href*="Stance" i] {
	--custom-color: #d5a220;
	--link-color: var(--custom-color);
	--link-color-hover: color-mix(in srgb, var(--link-color) 50%, white 50%);
	--tag-background: color-mix(in srgb, var(--custom-color) 30%, transparent 100%);
	--tag-background-hover: color-mix(in srgb, var(--custom-color) 40%, transparent 70%);
	--tag-color-hover: color-mix(in srgb, var(--custom-color) 50%, white 50%);

	color: var(--custom-color);
	font-weight:bold;
	--highlight: #d5a22026;
}

.callout[data-callout="stancebreak"], .stancebreak {
	--callout-color: 245, 199, 36;
	--callout-icon: '';
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
	--highlight: rgba(var(--callout-color), 0.15);
}
.stancebreak, [data-href*="Stancebreak" i], [data-href*="Stancebroken" i], .tag[href*="Stancebreak" i], .tag[href*="Stancebroken" i]  {
	--custom-color: #f5c724;
	--link-color: var(--custom-color);
	--link-color-hover: color-mix(in srgb, var(--link-color) 50%, white 50%);
	--tag-background: color-mix(in srgb, var(--custom-color) 30%, transparent 100%);
	--tag-background-hover: color-mix(in srgb, var(--custom-color) 40%, transparent 70%);
	--tag-color-hover: color-mix(in srgb, var(--custom-color) 50%, white 50%);

	color: var(--custom-color);
	--highlight: #f5c72426;
	font-weight:bold;
}

.callout[data-callout="sheath"], .sheath {
	--callout-color: 199, 210, 224;
	--callout-icon: '';
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
	--highlight: rgba(var(--callout-color), 0.15);
}
.sheath, [data-href*="Sheathed" i], .tag[href*="Sheathed" i] {
	--custom-color: #c7d2e0;
	--link-color: var(--custom-color);
	--link-color-hover: color-mix(in srgb, var(--link-color) 50%, white 50%);
	--tag-background: color-mix(in srgb, var(--custom-color) 30%, transparent 100%);
	--tag-background-hover: color-mix(in srgb, var(--custom-color) 40%, transparent 70%);
	--tag-color-hover: color-mix(in srgb, var(--custom-color) 50%, white 50%);

	color: var(--custom-color);
	font-weight:bold;
	--highlight: #c7d2e026;
}

.callout[data-callout="unsheath"], .unsheath {
	--callout-color: 141, 178, 226;
	--callout-icon: '';
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
	--highlight: rgba(var(--callout-color), 0.15);
}
.unsheath, [data-href*="Unsheathed" i], .tag[href*="Unsheathed" i] {
	--custom-color: #8db2e2;
	--link-color: var(--custom-color);
	--link-color-hover: color-mix(in srgb, var(--link-color) 50%, white 50%);
	--tag-background: color-mix(in srgb, var(--custom-color) 30%, transparent 100%);
	--tag-background-hover: color-mix(in srgb, var(--custom-color) 40%, transparent 70%);
	--tag-color-hover: color-mix(in srgb, var(--custom-color) 50%, white 50%);

	color: var(--custom-color);
	font-weight:bold;
	--highlight: #8db2e226;
}

.callout[data-callout="awakened"], .awakened {
	--callout-color: 197, 9, 15;
	--callout-icon: '';
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
	--highlight: rgba(var(--callout-color), 0.15);
}
.awakened, [data-href*="Awakened" i], .tag[href*="Awakened" i] {
	--custom-color: #af090f;
	--link-color: var(--custom-color);
	--link-color-hover: color-mix(in srgb, var(--link-color) 50%, white 50%);
	--tag-background: color-mix(in srgb, var(--custom-color) 30%, transparent 100%);
	--tag-background-hover: color-mix(in srgb, var(--custom-color) 40%, transparent 70%);
	--tag-color-hover: color-mix(in srgb, var(--custom-color) 50%, white 50%);

	color: var(--custom-color);
	font-weight:bold;
	--highlight: #af090f26;
}

.callout[data-callout="shatt"], .shatt {
	--callout-color: 71, 30, 152;
	--callout-icon: '';
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
	--highlight: rgba(var(--callout-color), 0.15);
}
.shatt, [data-href*="Shattered" i], .tag[href*="Shattered" i] {
	--custom-color: #7719c8;
	--link-color: var(--custom-color);
	--link-color-hover: color-mix(in srgb, var(--link-color) 50%, white 50%);
	--tag-background: color-mix(in srgb, var(--custom-color) 30%, transparent 100%);
	--tag-background-hover: color-mix(in srgb, var(--custom-color) 40%, transparent 70%);
	--tag-color-hover: color-mix(in srgb, var(--custom-color) 50%, white 50%);

	color: var(--custom-color);
	font-weight:bold;
	--highlight: #7719c826;
}

.callout[data-callout="nimius"], .nimius {
	--callout-color: 167, 7, 28;
	--callout-icon: '';
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
	--highlight: rgba(var(--callout-color), 0.15);
}
.nimius, [data-href*="Nimius" i], .tag[href*="Nimius" i] {
	--custom-color: #c60c31;
	--link-color: var(--custom-color);
	--link-color-hover: color-mix(in srgb, var(--link-color) 50%, white 50%);
	--tag-background: color-mix(in srgb, var(--custom-color) 30%, transparent 100%);
	--tag-background-hover: color-mix(in srgb, var(--custom-color) 40%, transparent 70%);
	--tag-color-hover: color-mix(in srgb, var(--custom-color) 50%, white 50%);

	color: var(--custom-color);
	font-weight:bold;
	--highlight: #c60c3126;
}

.callout[data-callout="aether"], .aether {
	--callout-color: 93, 161, 217;
	--callout-icon: '';
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
	--highlight: rgba(var(--callout-color), 0.15);
}
.aether, [data-href*="Aether" i], .tag[href*="Aether" i] {
	--custom-color: #5a9cd2;
	--link-color: var(--custom-color);
	--link-color-hover: color-mix(in srgb, var(--link-color) 50%, white 50%);
	--tag-background: color-mix(in srgb, var(--custom-color) 30%, transparent 100%);
	--tag-background-hover: color-mix(in srgb, var(--custom-color) 40%, transparent 70%);
	--tag-color-hover: color-mix(in srgb, var(--custom-color) 50%, white 50%);

	color: var(--custom-color);
	font-weight:bold;
	--highlight: #5a9cd226;
}

.callout[data-callout="aurora"], .aurora {
	--callout-color: 241, 200, 146;
	--callout-icon: '';
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
	--highlight: rgba(var(--callout-color), 0.15);
}
.aurora, [data-href*="Aurora" i], .tag[href*="Aurora" i] {
	--custom-color: #e79e5a;
	--link-color: var(--custom-color);
	--link-color-hover: color-mix(in srgb, var(--link-color) 50%, white 50%);
	--tag-background: color-mix(in srgb, var(--custom-color) 30%, transparent 100%);
	--tag-background-hover: color-mix(in srgb, var(--custom-color) 40%, transparent 70%);
	--tag-color-hover: color-mix(in srgb, var(--custom-color) 50%, white 50%);

	color: var(--custom-color);
	font-weight:bold;
	--highlight: #e79e5a26;
}

.callout[data-callout="noctis"], .noctis {
	--callout-color: 152, 54, 197;
	--callout-icon: '';
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
	--highlight: rgba(var(--callout-color), 0.15);
}
.noctis, [data-href*="Noctis" i], .tag[href*="Noctis" i] {
	--custom-color: #ba7ad1;
	--link-color: var(--custom-color);
	--link-color-hover: color-mix(in srgb, var(--link-color) 50%, white 50%);
	--tag-background: color-mix(in srgb, var(--custom-color) 30%, transparent 100%);
	--tag-background-hover: color-mix(in srgb, var(--custom-color) 40%, transparent 70%);
	--tag-color-hover: color-mix(in srgb, var(--custom-color) 50%, white 50%);

	color: var(--custom-color);
	font-weight:bold;
	--highlight: #ba7ad126;
}