/* templates */

.callout[data-callout="customname"], .customname { /* uses callout-name for callouts, and .classes for any elements you want to color with this. note you cannot nest markdown inside HTML in obsidian. */
	/* the reason why class is included is because of the fact quartz transcribes data-callout as a class as well in the output, this ensures things can remain colored despite maybe not having data-callout for whatever reason */
	--callout-color: 200,208,208; /* must be R, G, B (255, 255, 255) */
	--callout-icon: ''; /* for custom statuses ie. Poise, leave as ''. otherwise use Lucide */
    --color: rgba(var(--callout-color), 1); /* this is for Quartz */
    --border: rgba(var(--callout-color), 0.267); /* this is for Quartz */
    --bg: rgba(var(--callout-color), 0.063); /* this is for Quartz */
	--highlight: rgba(var(--callout-color), 0.15); /* this is for Quartz */
}
h1.customname, h2.customname, h3.customname, h4.customname, h5.customname, h6.customname, span.customname, a.customname, p.customname, a[data-href="customname"] /* should cover all your bases, tell me if something's missing */ {
	color: #ffffff; /* will use this color */
	font-weight: bold; /* use normal for no bold */
	font-style: normal; /* use italic for italics, or oblique */
	font-variant: normal; /* use small-caps for small caps */
}

/* note: link colors *for Quartz* must be set in custom.scss (quartz/styles/custom.scss)
quick notes about selectors:
    1. they MUST be captalized! (Poise = yes, poise = no)
    2. Bursts unfortunately cannot have link colors (this is due to a limitation: I can't select the contents of <a> within css, thus it cannot determine the difference between [[Tremor|Seisimic Shock]] and [[Tremor]] since it renders the data-href and href attributes as Tremor), and besides, bursts shouldn't need to link back to their statuses since it's likely it'll already be linked somewhere nearby...
    3. Stats like Combat do not need links
    4. use a[data-href="Name"] HERE for Obsidian links in customcolors.css, a[href="Name"] is exclusive to custom.scss (and comes with its own bundles of fucking joy /sarc)
    5. How to do selectors:
        ="STRING"
            > finds EXACTLY the STRING:
				ex. ="Poise - Hemorrhage", ="Poise - Scorching", does not select "Poise"
        *= "STRING"
            > anything CONTAINING the STRING:
				ex. "Vital States" -> =*"Vital"
        |= "STRING"
            > anything BEGINNING or EQUAL to the STRING:
				ex. "S. Body" -> |="S."
        ^= "STRING"
            > anything BEGINNING with the STRING:
				ex. is more specific: "Soul level" -> ^="Soul"
        $= "STRING"
            > anything ENDING with the STRING:
				ex. "Poise - Scorching" -> $="Scorching"
*/


/* biography utilities */
.callout[data-callout="signature"], .signature {
	--callout-color: 153, 153, 153;
	--callout-icon: lucide-signature;
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
	--highlight: rgba(var(--callout-color), 0.15);
}
h1.signature, h2.signature, h3.signature, h4.signature, h5.signature, h6.signature, span.signature, a.signature, p.signature, h1.biography, h2.biography, h3.biography, h4.biography, h5.biography, h6.biography, span.biography, a.biography, p.biography, h1.menuu, h2.menuu, h3.menuu, h4.menuu, h5.menuu, h6.menuu, span.menuu, a.menuu, p.menuu, h1.passives, h2.passives, h3.passives, h4.passives, h5.passives, h6.passives, span.passives, a.passives, p.passives, [data-href*="Signature"], [data-href*="Biography"], [data-href*="Menu"], [data-href*="Passives"] {
	color: #999999;
	--link-color: #999999;
	font-weight:bold;
	--highlight: #99999926;
}

.callout[data-callout="biography"], .biography {
	--callout-color: 153, 153, 153;
	--callout-icon: lucide-eye;
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
	--highlight: rgba(var(--callout-color), 0.15);
}

.callout[data-callout="inv"], .inv {
	--callout-color: 145, 101, 72;
	--callout-icon: lucide-backpack;
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
	--highlight: rgba(var(--callout-color), 0.15);

}
h1.inv, h2.inv, h3.inv, h4.inv, h5.inv, h6.inv, span.inv, a.inv, p.inv, [data-href*="Inventory"] {
	color: #916548;
	--link-color: #916548;
	font-weight:bold;
	--highlight: #91654826;
}

.callout[data-callout="menuu"], .menuu {
	--callout-color: 153, 153, 153;
	--callout-icon: lucide-menu;
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
	--highlight: rgba(var(--callout-color), 0.15);
}

.callout[data-callout="cyber"], .cyber {
	--callout-color: 189, 155, 46;
	--callout-icon: lucide-square-activity;
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
	--highlight: rgba(var(--callout-color), 0.15);
}
h1.cyber, h2.cyber, h3.cyber, h4.cyber, h5.cyber, h6.cyber, span.cyber, a.cyber, p.cyber, [data-href*="Cyberware"] {
	color: #bd9b2e;
	--link-color: #bd9b2e;
	font-weight:bold;
	--highlight: #bd9b2e26;
}

.callout[data-callout="hum"], .hum {
	--callout-color: 80, 196, 37;
	--callout-icon: lucide-person-standing;
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
	--highlight: rgba(var(--callout-color), 0.15);
}
h1.hum, h2.hum, h3.hum, h4.hum, h5.hum, h6.hum, span.hum, a.hum, p.hum, [data-href*="Humanity"] {
	color: #50c425;
	--link-color: #50c425;
	font-weight:bold;
	--highlight: #50c42526;
}
.callout[data-callout="humlow"], .humlow {
	--callout-color: 80, 196, 37;
	--callout-icon: lucide-person-standing;
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
	--highlight: rgba(var(--callout-color), 0.15);
}
h1.humlow, h2.humlow, h3.humlow, h4.humlow, h5.humlow, h6.humlow, span.humlow, a.humlow, p.humlow, [data-href*="Low Humanity"], [data-href*="Humanity Loss"] {
	color: #d04339;
	--link-color: #d04339;
	font-weight:bold;
	--highlight: #d0433926;
}

.callout[data-callout="stats"], .stats {
	--callout-color: 46, 189, 110;
	--callout-icon: lucide-waypoints;
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
	--highlight: rgba(var(--callout-color), 0.15);
}
h1.stats, h2.stats, h3.stats, h4.stats, h5.stats, h6.stats, span.stats, a.stats, p.stats, [data-href*="Stats"] {
	color: #2ebd6e;
	--link-color: #2ebd6e;
	font-weight:bold;
	--highlight: #2ebd6e26;
}

.callout[data-callout="soulstats"], .soulstats {
	--callout-icon: lucide-flame;
}

.callout[data-callout="passives"], .passives {
	--callout-color: 153, 153, 153;
	--callout-icon: lucide-dna;
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
	--highlight: rgba(var(--callout-color), 0.15);
}

.callout[data-callout="plus"], .plus {
	--callout-color: 66, 196, 37;
	--callout-icon: lucide-plus;
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
	--highlight: rgba(var(--callout-color), 0.15);
}
h1.plus, h2.plus, h3.plus, h4.plus, h5.plus, h6.plus, span.plus, a.plus, p.plus, [data-href*="Plus"] {
	color: #42c403;
	--link-color: #42c403;
	font-weight:bold;
	--highlight: #42c40326;
}

.callout[data-callout="minus"], .minus {
	--callout-color: 196, 37, 66;
	--callout-icon: lucide-minus;
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
	--highlight: rgba(var(--callout-color), 0.15);
}
h1.minus, h2.minus, h3.minus, h4.minus, h5.minus, h6.minus, span.minus, a.minus, p.minus, [data-href*="Minus"] {
	color: #c42542;
	--link-color: #c42542;
	font-weight:bold;
	--highlight: #c4254226;
}

	/* stats */
.callout[data-callout="rolls"], .rolls, .callout[data-callout="body"], .body, .callout[data-callout="reflex"], .reflex, .callout[data-callout="tech"], .tech, .callout[data-callout="intel"], .intel, .callout[data-callout="cool"], .cool {
	--callout-color: 69, 179, 124;
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
	--highlight: rgba(var(--callout-color), 0.15);
}
h1.rolls, h2.rolls, h3.rolls, h4.rolls, h5.rolls, h6.rolls, span.rolls, a.rolls, p.rolls, h1.body, h2.body, h3.body, h4.body, h5.body, h6.body, span.body, a.body, p.body, h1.reflex, h2.reflex, h3.reflex, h4.reflex, h5.reflex, h6.reflex, span.reflex, a.reflex, p.reflex, h1.tech, h2.tech, h3.tech, h4.tech, h5.tech, h6.tech, span.tech, a.tech, p.tech, h1.intel, h2.intel, h3.intel, h4.intel, h5.intel, h6.intel, span.intel, a.intel, p.intel, h1.cool, h2.cool, h3.cool, h4.cool, h5.cool, h6.cool, span.cool, a.cool, p.cool, [data-href*="Combat"], [data-href*="Rolls"], [data-href*="Body"], [data-href*="Reflexes"], [data-href*="Technical"], [data-href*="Intelligence"], [data-href*="Cool"] {
	color: #45b37c;
	--link-color: #45b37c;
	font-weight:bold;
	--highlight: #45b37c26;
}

.callout[data-callout="body"] {
	--callout-icon: lucide-biceps-flexed;
}
.callout[data-callout="reflex"] {
	--callout-icon: lucide-eye;
}
.callout[data-callout="tech"] {
	--callout-icon: lucide-cpu;
}
.callout[data-callout="intel"] {
	--callout-icon: lucide-brain-cog;
}
.callout[data-callout="cool"] {
	--callout-icon: lucide-scale;
}
.callout[data-callout="rolls"] {
	--callout-icon: lucide-dices;
}
.callout[data-callout="combat"], .combat {
	--callout-color: 230, 96, 96;
	--callout-icon: lucide-sword;
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
	--highlight: rgba(var(--callout-color), 0.15);
}
h1.combat, h2.combat, h3.combat, h4.combat, h5.combat, h6.combat, span.combat, a.combat, p.combat, [data-href*="Combat"] {
	color: #e66060;
	--link-color: #e66060;
	font-weight:bold;
	--highlight: #e6606026;
}

.callout[data-callout="sneak"], .sneak {
	--callout-color: 154, 96, 230;
	--callout-icon: lucide-eye-closed;
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
	--highlight: rgba(var(--callout-color), 0.15);
}
h1.sneak, h2.sneak, h3.sneak, h4.sneak, h5.sneak, h6.sneak, span.sneak, a.sneak, p.sneak, [data-href*="Sneak"] {
	color: #9a60e6;
	--link-color: #9a60e6;
	font-weight:bold;
	--highlight: #9a60e626;
}

.callout[data-callout="mental"], .mental {
	--callout-color: 96, 165, 230;
	--callout-icon: lucide-brain;
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
	--highlight: rgba(var(--callout-color), 0.15);
}
h1.mental, h2.mental, h3.mental, h4.mental, h5.mental, h6.mental, span.mental, a.mental, p.mental, [data-href*="Mental"] {
	color: #60a5e6;
	--link-color: #60a5e6;
	font-weight:bold;
	--highlight: #60a5e626;
}

.callout[data-callout="soulstats"], .soulstats, .callout[data-callout-metadata*="s."] {
	--callout-color: 114, 81, 190;
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
	--highlight: rgba(var(--callout-color), 0.15);
}
h1.soulstats, h2.soulstats, h3.soulstats, h4.soulstats, h5.soulstats, h6.soulstats, span.soulstats, a.soulstats, p.soulstats, [data-href*="Soul Stats"] {
	color: #7251be;
	--link-color: #7251be;
	font-weight:bold;
	--highlight: #7251be26;
}

/* status customs */
.callout[data-callout="actions"], .actions {
	--callout-color: 230, 164, 51;
	--callout-icon: '';
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
	--highlight: rgba(var(--callout-color), 0.15);
}
h1.actions, h2.action, h3.actions, h4.actions, h5.actions, h6.actions, span.actions, a.actions, p.actions, [data-href*="Actions"] {
	color: #e6a433;
	--link-color: #e6a433;
	font-weight:bold;
	--highlight: #e6a43326;
}

.callout[data-callout="poise"], .poise {
	--callout-color: 200,208,208;
	--callout-icon: '';
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
	--highlight: rgba(var(--callout-color), 0.15);
}
h1.poise, h2.poise, h3.poise, h4.poise, h5.poise, h6.poise, span.poise, a.poise, p.poise, [data-href*="Poise"] {
	color: #c8d0d0;
	--link-color: #c8d0d0;
	font-weight:bold;
	--highlight: #c8d0d026;
}

.callout[data-callout="scorch"], .scorch {
	--callout-color: 255,89,31;
	--callout-icon: '';
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
	--highlight: rgba(var(--callout-color), 0.15);
}
h1.scorch, h2.scorch, h3.scorch, h4.scorch, h5.scorch, h6.scorch, span.scorch, a.scorch, p.scorch {
	color: #d53f1b;
	font-weight:bold;
	--highlight: #d53f1b26;
}

.callout[data-callout="burn"], .burn {
	--callout-color: 255,120,31;
	--callout-icon: '';
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
	--highlight: rgba(var(--callout-color), 0.15);
}
h1.burn, h2.burn, h3.burn, h4.burn, h5.burn, h6.burn, span.burn, a.burn, p.burn, a[data-href*="Burn"] {
	color: #ec8209;
	--link-color: #ec8209;
	font-weight:bold;
	--highlight: #ec820926;
}

.callout[data-callout="igni"], .igni {
	--callout-color: 251, 174, 9;
	--callout-icon: '';
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
	--highlight: rgba(var(--callout-color), 0.15);
}
h1.igni, h2.igni, h3.igni, h4.igni, h5.igni, h6.igni, span.igni, a.igni, p.igni, a[data-href*="Ignition"] {
	color: #fbae09;
	--link-color: #fbae09;
	font-weight:bold;
	--highlight: #fbae0926;
}

.callout[data-callout="bleed"] {
	--callout-color: 223, 21, 7;
	--callout-icon: '';
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
	--highlight: rgba(var(--callout-color), 0.15);
}
h1.bleed, h2.bleed, h3.bleed, h4.bleed, h5.bleed, h6.bleed, span.bleed, a.bleed, p.bleed, a[data-href~="Bloodloss"] {
	color: #b1120e;
	--link-color: #b1120e;
	font-weight:bold;
	--highlight: #b1120e26;
}

.callout[data-callout="hemo"], .hemo {
	--callout-color: 198,16,0;
	--callout-icon: '';
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
	--highlight: rgba(var(--callout-color), 0.15);
}
h1.hemo, h2.hemo, h3.hemo, h4.hemo, h5.hemo, h6.hemo, span.hemo, a.hemo, p.hemo {
	color: #760e06;
	--link-color: #760e06;
	font-weight:bold;
	--highlight: #760e0626;
}

.callout[data-callout="vital"], .vital {
	--callout-color: 12,230,141;
	--callout-icon: '';
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
	--highlight: rgba(var(--callout-color), 0.15);
}
h1.vital, h2.vital, h3.vital, h4.vital, h5.vital, h6.vital, span.vital, a.vital, p.vital,
a[data-href*="Vital"] {
	color: #1fdb4e;
	--link-color: #1fdb4e;
	font-weight:bold;
	--highlight: #1fdb4e26;
}

.callout[data-callout="downed"], .downed {
	--callout-color: 160, 61, 4;
	--callout-icon: '';
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
	--highlight: rgba(var(--callout-color), 0.15);
}
h1.downed, h2.downed, h3.downed, h4.downed, h5.downed, h6.downed, span.downed, a.downed, p.downed,
a[data-href*="Downed"] {
	color: #ea5f1d;
	--link-color: #ea5f1d;
	font-weight:bold;
	--highlight: #ea5f1d26;
}

.callout[data-callout="dd"], .dd {
	--callout-color: 107, 9, 2;
	--callout-icon: '';
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
	--highlight: rgba(var(--callout-color), 0.15);
}
h1.dd, h2.dd, h3.dd, h4.dd, h5.dd, h6.dd, span.dd, a.dd, p.dd,
a[data-href*="Door"] {
	color: #e00000;
	--link-color: #e00000;
	font-weight:bold;
	--highlight: #e0000026;
}

.callout[data-callout="ddrec"], .ddrec {
	--callout-color: 191, 187, 187;
	--callout-icon: '';
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
	--highlight: rgba(var(--callout-color), 0.15);
}
h1.ddrec, h2.ddrec, h3.ddrec, h4.ddrec, h5.ddrec, h6.ddrec, span.ddrec, a.ddrec, p.ddrec,
a[data-href*="Recovery"] {
	color: #bfbbbb;
	--link-color: #bfbbbb;
	font-weight:bold;
	--highlight: #bfbbbb26;
}

.callout[data-callout="down"], .down {
	--callout-color:33, 132, 237;
	--callout-icon: '';
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
	--highlight: rgba(var(--callout-color), 0.15);
}
h1.down, h2.down, h3.down, h4.down, h5.down, h6.down, span.down, a.down, p.down,
a[data-href*="Mental"][data-href*="Up"], a[data-href*="Combat"][data-href*="Down"], a[data-href*="Defense"][data-href*="Down"] {
	color: #1e84f1;
	--link-color: #1e84f1;
	font-weight:bold;
	--highlight: #1e84f126;
}

.callout[data-callout="up"], .up {
	--callout-color: 224, 26, 30;
	--callout-icon: '';
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
	--highlight: rgba(var(--callout-color), 0.15);
}
h1.up, h2.up, h3.up, h4.up, h5.up, h6.up, span.up, a.up, p.up,
a[data-href*="Mental"][data-href*="Down"], a[data-href*="Combat"][data-href*="Up"], a[data-href*="Defense"][data-href*="Up"] {
	color: #e11414;
	--link-color: #e11414;
	font-weight:bold;
	--highlight: #e1141426;
}

.callout[data-callout="guardbreak"], .guardbreak, .guardbroken {
	--callout-color: 116, 6, 2;
	--callout-icon: '';
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
	--highlight: rgba(var(--callout-color), 0.15);
}
h1.guardbreak, h2.guardbreak, h3.guardbreak, h4.guardbreak, h5.guardbreak, h6.guardbreak, span.guardbreak, a.guardbreak, p.guardbreak,
a[data-href*="Guardbreak"], a[data-href*="Guardbroken"] {
	color: #641717;
	--link-color: #641717;
	font-weight:bold;
	--highlight: #64171726;
}

.callout[data-callout="tremor"], .tremor {
	--callout-color: 236, 182, 121;
	--callout-icon: '';
	--color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
	--highlight: rgba(var(--callout-color), 0.15);
}
h1.tremor, h2.tremor, h3.tremor, h4.tremor, h5.tremor, h6.tremor, span.tremor, a.tremor, p.tremor,
a[data-href*="Tremor"] {
	color: #eebc77;
	--link-color: #eebc77;
	font-weight:bold;
	--highlight: #eebc7726;
}

.shock {
	--callout-color: 236, 182, 121;
	--callout-icon: '';
}
h1.shock, h2.shock, h3.shock, h4.shock, h5.shock, h6.shock, span.shock, a.shock, p.shock, a[data-href*="Seisimic Shock"] {
	color: #f2a854;
	--link-color: #f2a854;
	font-weight:bold;
	--highlight: #f2a85426;
}

.hemoshock {
	--callout-color: 236, 182, 121;
	--callout-icon: '';
}
h1.hemoshock, h2.shock, h3.hemoshock, h4.hemoshock, h5.hemoshock, h6.hemoshock, span.hemoshock, a.hemoshock, p.hemoshock, a[data-href*="Seisimic Hemorrhage"] {
	color: #9f2d1e;
	--link-color: #9f2d1e;
	font-weight:bold;
	--highlight: #9f2d1e26;
}

.callout[data-callout="tox"], .tox {
	--callout-color: 62, 212, 60;
	--callout-icon: '';
}
h1.tox, h2.tox, h3.tox, h4.tox, h5.tox, h6.tox, span.tox, a.tox, p.tox,
a[data-href*="Toxin"] {
	color: #3ed43c;
	--link-color: #3ed43c;
	font-weight:bold;
	--highlight: #3ed43c26;
}

.callout[data-callout="stealth"], .stealth {
	--callout-color: 117, 73, 204;
	--callout-icon: '';
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
	--highlight: rgba(var(--callout-color), 0.15);
}
h1.stealth, h2.stealth, h3.stealth, h4.stealth, h5.stealth, h6.stealth, span.stealth, a.stealth, p.stealth,
a[data-href*="Stealth"] {
	color: #7549cc;
	--link-color: #7549cc;
	font-weight:bold;
	--highlight: #7549cc26;
}

.callout[data-callout="venom"], .venom {
	--callout-color: 62, 30, 204;
	--callout-icon: '';
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
	--highlight: rgba(var(--callout-color), 0.15);
}
h1.venom, h2.venom, h3.venom, h4.venom, h5.venom, h6.venom, span.venom, a.venom, p.venom,
a[data-href*="Venom"] {
	color: #582dcd;
	--link-color: #582dcd;
	font-weight:bold;
	--highlight: #582dcd26;
}

.callout[data-callout="poiseven"], .poiseven {
	--callout-color: 68, 4, 151;
	--callout-icon: '';
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
	--highlight: rgba(var(--callout-color), 0.15);
}
h1.poiseven, h2.poiseven, h3.poiseven, h4.poiseven, h5.poiseven, h6.poiseven, span.poiseven, a.poiseven, p.poiseven,
a[data-href*="Envenoming"] {
	color: #5c12a5;
	--link-color: #5c12a5;
	font-weight:bold;
	--highlight: #5c12a526;
}

.callout[data-callout="poiseburn"], .poiseburn {
	--callout-color: 68, 4, 151;
	--callout-icon: '';
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
	--highlight: rgba(var(--callout-color), 0.15);
}
h1.poiseburn, h2.poiseburn, h3.poiseburn, h4.poiseburn, h5.poiseburn, h6.poiseburn, span.poiseburn, a.poiseburn, p.poiseburn,
a[data-href*="Poise"][data-href*="Scorching"] {
	color: #ea5d23;
	--link-color: #ea5d23;
	font-weight:bold;
	--highlight: #ea5d2326;
}

.callout[data-callout="poisebleed"], .poisebleed {
	--callout-color: 68, 4, 151;
	--callout-icon: '';
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
	--highlight: rgba(var(--callout-color), 0.15);
}
h1.poisebleed, h2.poisebleed, h3.poisebleed, h4.poisebleed, h5.poisebleed, h6.poisebleed, span.poisebleed, a.poisebleed, p.poisebleed,
a[data-href*="Poise"][data-href*="Hemorrhage"] {
	color: #d00b0b;
	--link-color: #d00b0b;
	font-weight:bold;
	--highlight: #d00b0b26;
}

.callout[data-callout="tremorhemo"], .tremorhemo {
	--callout-color: 210, 74, 40;
	--callout-icon: '';
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
	--highlight: rgba(var(--callout-color), 0.15);
}
h1.tremorhemo, h2.tremorhemo, h3.tremorhemo, h4.tremorhemo, h5.tremorhemo, h6.tremorhemo, span.tremorhemo, a.tremorhemo, p.tremorhemo,
a[data-href*="Hemorrhage"] {
	color: #d24a28;
	--link-color: #d24a28;
	font-weight:bold;
	--highlight: #d24a2826;
}

.callout[data-callout="crit"], .crit {
	--callout-color: 248, 219, 155;
	--callout-icon: '';
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
	--highlight: rgba(var(--callout-color), 0.15);
}
h1.crit, h2.crit, h3.crit, h4.crit, h5.crit, h6.crit, span.crit, a.crit, p.crit,
a[data-href*="Critical"] {
	color: #f8db9b;
	--link-color: #f8db9b;
	font-weight:bold;
	--highlight: #f8db9b26;
}

.callout[data-callout="stance"], .stance {
	--callout-color: 213, 162, 32;
	--callout-icon: '';
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
	--highlight: rgba(var(--callout-color), 0.15);
}
h1.stance, h2.stance, h3.stance, h4.stance, h5.stance, h6.stance, span.stance, a.stance, p.stance,
a[data-href*="Stance"] {
	color: #d5a220;
	--link-color: #d5a220;
	font-weight:bold;
	--highlight: #d5a22026;
}

.callout[data-callout="stancebreak"], .stancebreak {
	--callout-color: 245, 199, 36;
	--callout-icon: '';
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
	--highlight: rgba(var(--callout-color), 0.15);
}
h1.stancebreak, h2.stancebreak, h3.stancebreak, h4.stancebreak, h5.stancebreak, h6.stancebreak, span.stancebreak, a.stancebreak, p.stancebreak,
a[data-href*="Stancebreak"], a[data-href*="Stancebroken"]  {
	color: #f5c724;
	--link-color: #f5c724;
	--highlight: #f5c72426;
	font-weight:bold;
}

.callout[data-callout="sheath"], .sheath {
	--callout-color: 199, 210, 224;
	--callout-icon: '';
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
	--highlight: rgba(var(--callout-color), 0.15);
}
h1.sheath, h2.sheath, h3.sheath, h4.sheath, h5.sheath, h6.sheath, span.sheath, a.sheath, p.sheath,
a[data-href*="Sheathed"] {
	color: #c7d2e0;
	--link-color: #c7d2e0;
	font-weight:bold;
	--highlight: #c7d2e026;
}

.callout[data-callout="unsheath"], .unsheath {
	--callout-color: 141, 178, 226;
	--callout-icon: '';
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
	--highlight: rgba(var(--callout-color), 0.15);
}
h1.unsheath, h2.unsheath, h3.unsheath, h4.unsheath, h5.unsheath, h6.unsheath, span.unsheath, a.unsheath, p.unsheath,
a[data-href*="Unsheathed"] {
	color: #8db2e2;
	--link-color: #8db2e2;
	font-weight:bold;
	--highlight: #8db2e226;
}

.callout[data-callout="awakened"], .awakened {
	--callout-color: 197, 9, 15;
	--callout-icon: '';
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
	--highlight: rgba(var(--callout-color), 0.15);
}
h1.awakened, h2.awakened, h3.awakened, h4.awakened, h5.awakened, h6.awakened, span.awakened, a.awakened, p.awakened,
a[data-href*="Awakened"] {
	color: #af090f;
	--link-color: #af090f;
	font-weight:bold;
	--highlight: #af090f26;
}

.callout[data-callout="shatt"], .shatt {
	--callout-color: 71, 30, 152;
	--callout-icon: '';
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
	--highlight: rgba(var(--callout-color), 0.15);
}
h1.shatt, h2.shatt, h3.shatt, h4.shatt, h5.shatt, h6.shatt, span.shatt, a.shatt, p.shatt,
a[data-href*="Shattered"] {
	color: #7719c8;
	--link-color: #7719c8;
	font-weight:bold;
	--highlight: #7719c826;
}

.callout[data-callout="nimius"], .nimius {
	--callout-color: 167, 7, 28;
	--callout-icon: '';
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
	--highlight: rgba(var(--callout-color), 0.15);
}
h1.nimius, h2.nimius, h3.nimius, h4.nimius, h5.nimius, h6.nimius, span.nimius, a.nimius, p.nimius,
a[data-href*="Nimius"] {
	color: #c60c31;
	--link-color: #c60c31;
	font-weight:bold;
	--highlight: #c60c3126;
}

.callout[data-callout="aether"], .aether {
	--callout-color: 93, 161, 217;
	--callout-icon: '';
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
	--highlight: rgba(var(--callout-color), 0.15);
}
h1.aether, h2.aether, h3.aether, h4.aether, h5.aether, h6.aether, span.aether, a.aether, p.aether,
a[data-href*="Aether"] {
	color: #5a9cd2;
	--link-color: #5a9cd2;
	font-weight:bold;
	--highlight: #5a9cd226;
}

.callout[data-callout="aurora"], .aurora {
	--callout-color: 241, 200, 146;
	--callout-icon: '';
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
	--highlight: rgba(var(--callout-color), 0.15);
}
h1.aurora, h2.aurora, h3.aurora, h4.aurora, h5.aurora, h6.aurora, span.aurora, a.aurora, p.aurora,
a[data-href*="Aurora"] {
	color: #e79e5a;
	--link-color: #e79e5a;
	font-weight:bold;
	--highlight: #e79e5a26;
}

.callout[data-callout="noctis"], .noctis {
	--callout-color: 152, 54, 197;
	--callout-icon: '';
    --color: rgba(var(--callout-color), 1);
    --border: rgba(var(--callout-color), 0.267);
    --bg: rgba(var(--callout-color), 0.063);
	--highlight: rgba(var(--callout-color), 0.15);
}
h1.noctis, h2.noctis, h3.noctis, h4.noctis, h5.noctis, h6.noctis, span.noctis, a.noctis, p.noctis,
a[data-href*="Noctis"] {
	color: #ba7ad1;
	--link-color: #ba7ad1;
	font-weight:bold;
	--highlight: #ba7ad126;
}

.nonexistant2 { /*another color picker for yours truly*/
	color: rgba(241, 200, 146, 0.267);
	color: rgb(255, 255, 255)
}