/* 0. Body; Custom */
body {
  --metadata-input-font: var(--font-monospace);

  --radius-s: 0px;
  --radius-m: 0px;
  --radius-l: 0px;
  --radius-xl: 0px;

  --tag-color: var(--color-2);
  --tag-color-hover: color-mix(in hsl, var(--color-2), white 50%);
  --tag-radius: 0px;
  --callout-radius: 0px;
  border-radius: 0px;
  --modal-radius: 0px;
  --tab-radius: 0px;
  --tab-radius-active: 0px;
  --background-modifier-border: color-mix(in hsl, transparent 80%, var(--color-5) 30%);
  --background-modifier-hover: color-mix(in hsl, transparent 100%, var(--color-1) 20%);

  /* text-shadow: 0px 0px 4px; */
  .popover {
    background-color: black;
  }
  .modal {
    background-color: var(--background-secondary);
    backdrop-filter: blur(5px);
    mask: linear-gradient(-45deg,#0000 0.5vh,#ffffff 0);
  };
  .status-bar {
    border: 0px;
    --text-normal: var(--color-2);
    color: var(--color-2);
    font-family: var(--font-monospace);
    background-color: transparent;
    background-image: linear-gradient(0deg, #131017, #171017);
    padding-left: 0.7vh;
    padding-top: 0.7vh;
    filter: drop-shadow(-1px -1px 0px var(--color-2));

    div.plugin-word-count {
      justify-content: space-between;
      > .status-bar-item-segment:first-of-type {
        margin-right: 6px;
        margin-left: 6px;
        &:after {
          content: " —"
        }
      }
    }

    button:not(.clickable-icon), .mod-clickable {
      background-color: color-mix(in srgb, var(--color-4) 20%, #131017 70%);
      mask: linear-gradient(-45deg,#0000 0.75vh,#ffffff 0);
      border-radius: 0px;

      &:hover {
        background-color: color-mix(in srgb, var(--color-4) 30%, #131017 70%);
      }
    }
  }
}

/* 1. Colours! Overriding both themes */
.theme-dark {
    --color-1: #00ECD8;
    --color-2: #bddf44;
    --color-3: #00ECD8;
    --color-4: #3EC840;
    --color-5: #E92741;
    --color-6: #418FDD;
    --color-7: #FF9900;
    --color-8: #FDF7CD;

    --background-primary: #00000025;
    --background-primary-alt: #00000025;
    --background-secondary: #000000d0;
    --background-secondary-alt: #00000075;
    background-image: linear-gradient(180deg, #1b0508, #06070c);

    --text-normal: var(--color-8);
    --text-muted: var(--color-5);
    --text-accent: var(--color-3);
    --text-on-accent: var(--color-1);

      /* obsidian dark defaults (overriding for light) */
    --text-selection: rgba(0, 195, 255, 0.2);
    --text-on-accent: rgba(0, 0, 0, 0.8);
    --interactive-accent-rgb: 72, 54, 153;
    --scrollbar-active-thumb-bg: rgba(85, 15, 15, 0.2);
    --scrollbar-bg: rgba(85, 15, 15, 0.05);
    --scrollbar-thumb-bg: rgba(85, 15, 15, 0.1);
}

.theme-light {
    --color-1: #020832;
    --color-2: #0066ff;
    --color-3: #020832;
    --color-4: #c137bf;
    --color-5: #020832;
    --color-6: #be7022;
    --color-7: #0066ff;

    --text-accent: var(--color-3);
    --text-on-accent: var(--color-1);
}


/* 2. UI */

.titlebar-inner {
  color: var(--color-normal);
}

.titlebar-button {
  opacity: 1;
}

.suggestion-item.is-selected {
  background-color: var(--text-selection);
}

/* 3. Editor and preview */
.cm-s-obsidian,
.markdown-preview-view {
  color: var(--text-normal);
}


/* 3.1. Headers */
.cm-s-obsidian .cm-header,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  overflow: visible;
  color: var(--color-3);
  font-variant: small-caps;
}

.markdown-preview-view {
  h1, h2, h3, h4, h5, h6 {
    font-variant: small-caps;
  }
}

/* 3.3. External links */
.cm-s-obsidian span.cm-link ,
a {
  color: var(--color-5);
}

.cm-s-obsidian .cm-formatting-link+.cm-formatting-link-string+.cm-url,
.cm-s-obsidian .cm-string.cm-url,
.cm-s-obsidian span.cm-url {
  color: var(--color-1);
}

.cm-s-obsidian .cm-string.cm-url.cm-hmd-footref2 {
    color:var(--color-2);
}

/* 3.4. Internal links */
.cm-s-obsidian span.cm-hashtag,
.cm-s-obsidian span.cm-hmd-internal-link,
a.internal-link,
a.tag {
  color: var(--color-2);
}

/* 3.5. blockquotes, embeds, tables */
.cm-s-obsidian span.cm-quote {
    color: var(--color-8);
}

.cm-s-obsidian span.cm-builtin, 
.cm-s-obsidian span.cm-hr {
    color: var(--color-2);
}

/* 3.6. Code */
.cm-s-obsidian span.cm-inline-code,
code {
  color: var(--color-2);
}

.markdown-preview-view code {
  color: var(--color-1);
}

.cm-s-obsidian pre.HyperMD-codeblock {
  color: var(--color-1);
}

.graph-view.color-fill-unresolved {
  color: var(--color-1);
  opacity: 0.7;
}

.graph-view.color-arrow {
  color: var(--color-5);
  opacity: 1;
}

.graph-view.color-text {
  color: var(--color-1);
}

.graph-view.color-fill-highlight {
  color: var(--color-6);
}

.graph-view.color-line-highlight {
  color: var(--color-6);
}

.theme-light .graph-view.color-fill-attachment,
.theme-dark .graph-view.color-fill-attachment {
  color: var(--color-6);
}

.theme-dark .graph-view.color-fill-tag,
.theme-light .graph-view.color-fill-tag {
  color: var(--color-4);
}

  /* customs */
.nav-folder-title {
  background-color: color-mix(in srgb, var(--color-6) 5%, transparent 90%);
  border-top: 1px solid var(--color-1);
  color: var(--color-8);
  .file-explorer-plus.pin-icon {
    color: var(--color-8);
  }
}
.file-explorer-plus.pin-icon, .clickable-icon, .view-header-title, .workspace-tab-header.is-active {
    color: var(--color-1);
    --tab-text-color-focused-active: var(--color-1);
  }

  /* var(--tab-text-color-focused-active); */

.cm-s-obsidian span.cm-formatting-quote {
  color: var(--color-2);
}
.cm-s-obsidian span.cm-formatting-link {
  color: var(--color-5);
}
.cm-s-obsidian span.cm-hmd-internal-link {
  color: var(--color-1);
}
button:not(.clickable-icon) {
  background-color: color-mix(in srgb, var(--color-5) 20%, black 90%);
  mask: linear-gradient(-45deg,#0000 0.75vh,#ffffff 0);
  border-radius: 0px;

  &:hover {
    background-color: color-mix(in srgb, var(--color-5) 50%, black 70%);
  }
}
button.mod-warning {
  color: var(--color-5);
  &:hover {
    background-color: color-mix(in srgb, var(--color-5) 50%, black 70%);
  }
}
button.mod-cta {
  color: var(--color-1);
}
.callout {
  mask: linear-gradient(-45deg,#0000 1vh,#ffffff 0);
  &[data-callout-metadata*="none"] {
    border: 0.25vh solid transparent;
    border-image: linear-gradient(180deg, rgb(var(--custom-color)), transparent 90%) 1;
  }
  &[data-callout-metadata*="none"][data-callout-metadata*="no-mix"] {
    border: 0.25vh solid transparent;
    border-image: linear-gradient(180deg, rgba(var(--custom-color-2)), transparent 90%) 1;
  }
  &.is-collapsible, &.is-collapsed {
    border: 0.25vh solid transparent;
    border-image: linear-gradient(90deg, rgb(var(--custom-color)), transparent 90%) 1;
    padding-left: 12px;
  }
}
.multi-select-pill {
  mask: linear-gradient(-45deg,#0000 0.5vh,#ffffff 0);
}

h1, h2, h3, h4, h5, h6
  {
    background-color: transparent;
    background-image: linear-gradient(-45deg, transparent 25%, color-mix(in srgb, rgb(var(--custom-color)) 10%, transparent 80%));
    border-left: 0.5vh solid rgb(var(--custom-color));
    padding-left: 1vh;

    a.internal-link {
      --link-color: rgb(var(--custom-color));
      background-color: transparent;
      background-image: linear-gradient(-45deg, transparent 25%, color-mix(in srgb, rgb(var(--custom-color)) 10%, transparent 80%));
      border-left: 0.5vh solid rgb(var(--custom-color));
      padding-left: 1vh;
    }

    &.no-mix {
      background-image: linear-gradient(-45deg, transparent 25%, color-mix(in srgb, rgb(var(--custom-color-2)) 10%, transparent 80%));
      border-left: 0.5vh solid rgb(var(--custom-color-2));
    }
  }
