/* defining stuff */
* :root {
	/*
		this is what's used in custom statuses/mechanics.
		for the template, please scroll down to line 168
	*/
	color: rgb(var(--custom-color));
	--custom-color: auto;
	--custom-color-2: auto;
    --custom-color-3: color-mix(in hsl, rgb(var(--custom-color)) 50%, rgb(var(--custom-color-2)) 50%); /* we don't even use this... oh well */

	--custom-font-weight: normal;
	--custom-font-style: normal;
	--custom-font-variant: normal;

	--text-shadow-1: rgba(var(--custom-color), 0);
	--text-shadow-2: rgba(var(--custom-color-2), 0);
	--text-shadow-3: rgba(var(--custom-color-2), 0.5);

	--border: rgba(var(--custom-color), 0.267);
    --bg: rgba(var(--custom-color), 0.063);

	--highlight: rgba(var(--custom-color), 0.15);
	--link-color: rgb(var(--custom-color));
	--link-color-hover: color-mix(in hsl, rgb(var(--custom-color)) 50%, rgb(var(--custom-hover-mix-color)) 50%);

	--tag-background: color-mix(in hsl, rgb(var(--custom-color)) 30%, transparent 100%);
	--tag-background-hover: color-mix(in hsl, rgb(var(--custom-color)) 40%, transparent 70%);
	--tag-color-hover: color-mix(in hsl, rgb(var(--custom-color)) 50%, rgb(var(--custom-hover-mix-color)) 50%);
	
}
* {
	text-shadow: 
		1px 0px var(--text-shadow-2), 
		0px 1px var(--text-shadow-2), 
		-1px 0px var(--text-shadow-2), 
		0px -1px var(--text-shadow-2), 
		0.5px 0.5px var(--text-shadow-2), 
		-0.5px -0.5px var(--text-shadow-2), 
		0.5px -0.5px var(--text-shadow-2), 
		-0.5px 0.5px var(--text-shadow-2), 
		0px 0px 5px var(--text-shadow-3), 
		0px 0px 3px var(--text-shadow-3), 
		0px 0px 2px var(--text-shadow-3), 
		0px 0px 1px var(--text-shadow-3);
}
*:not(ul, li) {
	--h1-color: rgb(var(--custom-color));
	--h2-color: rgb(var(--custom-color));
	--h3-color: rgb(var(--custom-color));
	--h4-color: rgb(var(--custom-color));
	--h5-color: rgb(var(--custom-color));
	--h6-color: rgb(var(--custom-color));
	caret-color: hsla(var(--accent-h), var(--accent-s), calc(var(--accent-l) + 20%), 0.75);
	}
span {
	font-weight: var(--custom-font-weight);
	--font-weight: var(--custom-font-weight);
	font-style: var(--custom-font-style);
	font-variant: var(--custom-font-variant);
}
strong {
	font-weight: bold;
}
.markdown-rendered a.internal-link {
	color: rgb(var(--custom-color));
	--font-weight: var(--custom-font-weight);
	--link-weight: var(--custom-font-weight);
}
.callout {
	--callout-color: var(--custom-color);
	text-shadow: none;
}

.callout[data-callout-metadata*="no-ts"] {
	text-shadow: none;
}

.callout[data-callout-metadata*="no-mix"] p:not([class]), .callout[data-callout-metadata*="no-mix"] ul:not([class]), .callout[data-callout-metadata*="no-mix"] li:not([class]) {
	text-shadow: none;
}
.callout[data-callout-metadata*="no-mix"] strong:not([class]), .callout[data-callout-metadata*="no-mix"] em:not([class]), .callout[data-callout-metadata*="no-mix"] b:not([class]), .callout[data-callout-metadata*="no-mix"] i:not([class]), .callout[data-callout-metadata*="no-mix"] code:not([class]) {
	color: var(--mixed-color);
	--mixed-color: color-mix(in hsl, rgb(var(--custom-color)) 100%, white 40%);
	text-shadow: none;
}
.callout p, .callout ul, .callout li {
	color: var(--mixed-color);
	--mixed-color: color-mix(in hsl, rgb(var(--custom-color)) 50%, white 70%);
	text-shadow: none;
}
.callout strong:not([class]), .callout em:not([class]), .callout b:not([class]), .callout i:not([class]), .callout code:not([class]) {
	color: var(--mixed-color);
	--mixed-color: color-mix(in hsl, rgb(var(--custom-color)) 100%, white 40%);
	text-shadow: none;
}

.callout strong.no-mix, .callout em.no-mix, .callout b.no-mix, .callout i.no-mix, .callout code.no-mix {
	color: var(--mixed-color);
	--mixed-color: color-mix(in hsl, rgb(var(--custom-color)) 50%, white 70%);
	text-shadow: none;
}

.callout strong.pure, .callout em.pure, .callout b.pure, .callout i.pure, .callout code.pure {
	color: rgb(var(--custom-color));
}

.callout[data-callout-metadata*="none"] > .callout-title {
	display: none !important;
}

.callout[data-callout-metadata*="status"] .callout-content > p:nth-child(1) {
	display: flex;
    align-items: center;
    justify-content: flex-start;
	flex-wrap: nowrap;
	flex-direction: row;
}
.callout[data-callout-metadata*="status"] .callout-content > p:nth-child(1) span:not([class]) {
	font-weight: normal;
	text-shadow: none;
}

.callout[data-callout-metadata*="no-mix"] {
	background-color: rgba(var(--callout-color), 0.35);
	text-shadow: none;
}

.callout[data-callout-metadata*="invis"] {
	background-color: transparent;
	border-inline-start: none;
}
.callout[data-callout-metadata*="invis"] > .callout-title {
	display: none;
}

.callout[data-callout-metadata*="marginup"] {
	margin-top: 15px !important;
}
.callout[data-callout-metadata*="margindown"] {
	margin-bottom: 10px !important;
}

.callout[data-callout-metadata*="halfpad"] {
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 12px;
	margin-right: 12px;
}

.callout[data-callout="toc"] {
	--callout-color: 90, 90, 90;
	--callout-icon: none;
}

.callout[data-callout="toc"] > .callout-title-inner {
	color: rgb(160, 160, 160);
}

.callout[data-callout="toc"] .internal-link {
	--link-color: rgb(114, 114, 114);
	--link-color-hover: rgb(160, 160, 160);
	font-weight: bold;
}

span.no-ts {
	text-shadow: none;
}


	/*
		CUSTOM STATUSES, MECHANICS & ODDITIES 
	*/

/* template */
.custom, .aliases,
[data-callout="custom"], [data-callout="aliases"],
[data-href*="custom name" i], [data-href*="aliases" i], /* both data-href and href need the full name of the status, such as "death's door". 'i' stands for insensitive case. data-href can have spaces. */
.tag[href*="custom-name" i], .tag[href*="aliases" i] /* href specifically needs hyphenated full names, like "death's-door". */
{
	--custom-color: 0, 0, 0; /* set your color here, in RGB */
	--custom-color-2: 0, 0, 0; /* for text border & shadow in RGB, erase if not needed to avoid bloat. */
	--custom-hover-mix-color: 255, 255, 255; /* determines how hover colors are mixed; white recommended (255, 255, 255). for darker palettes like Void, that use a dark inner color and bright outer color, i recommend black (0, 0, 0). */

	--custom-font-weight: bold; /* default is normal (if this line is erased it will not be bold). */
	--custom-font-style: normal; /* accepts italic or oblique for italicized text, default is normal. erase if not needed to avoid bloat. */
	--custom-font-variant: normal; /* accepts small-caps, default is normal. erase if not needed to avoid bloat. */

	--text-shadow-1: rgba(var(--custom-color), 0); /* set to 1 if you want text-shadow, erase if not needed to avoid bloat. */
	--text-shadow-2: rgba(var(--custom-color-2), 0); /* set to 1 if you want text-shadow, erase if not needed to avoid bloat. */
	--text-shadow-3: rgba(var(--custom-color-2), 0); /* set to 0.5 if you want text-shadow, erase if not needed to avoid bloat. */
	text-shadow: none; /* use only if no text-shadow is being used; prevents other things from applying text-shadow to your things. erase if not needed to avoid bloat. /*
	color: rgb(var(--custom-color)); /* necessary to make stuff work */

	--callout-icon: ''; /* use lucide icons. erase if not needed to avoid bloat. */
}
/*

--custom-color-2: none;
	--custom-hover-mix-color: 255, 255, 255; 

	--custom-font-weight: bold;
	--custom-font-style: normal; 
	--custom-font-variant: normal; 
	text-shadow: none;
	color: rgb(var(--custom-color));

*/


	/*
		non status/mechanic icons,
		for anything with shared colors
		(to avoid bloat)
	*/
[data-callout="signature"] {
	--callout-icon: lucide-signature;
}
[data-callout="biography"], [data-callout="neutral"], [data-callout="reflex"] {
	--callout-icon: lucide-eye;
}
[data-callout="humlow"], [data-callout="hum"] {
	--callout-icon: lucide-person-standing;
}
[data-callout="body"] {
	--callout-icon: lucide-biceps-flexed;
}
[data-callout="tech"] {
	--callout-icon: lucide-cpu;
}
[data-callout="intel"] {
	--callout-icon: lucide-brain-cog;
}
[data-callout="cool"] {
	--callout-icon: lucide-scale;
}
[data-callout="rolls"] {
	--callout-icon: lucide-dices;
}
[data-callout="soulstats"] {
	--callout-icon: lucide-flame;
}
[data-callout="passives"] {
	--callout-icon: lucide-dna;
}

	/*
		anything grey (RGB 153, 153, 153 or HEX 999999)
	*/
.signature, .biography, .menuu, .passives, .neutral,
[data-callout="signature"], [data-callout="biography"], [data-callout="menuu"], [data-callout="passives"], [data-callout="neutral"], 
[data-href*="signature" i], [data-href*="biography" i], [data-href*="menuu" i], [data-href*="passives" i], [data-href*="neutral" i],
.tag[href*="signature" i], .tag[href*="biography" i], .tag[href*="menuu" i], .tag[href*="passives" i], .tag[href*="neutral" i],
[data-href*="Floor Power" i], [data-href*="Ceiling Power" i], [data-href*="Final Power" i]
{
	--custom-color: 153, 153, 153;
	--custom-color-2: none;
	--custom-hover-mix-color: 255, 255, 255; 

	--custom-font-weight: bold;

	text-shadow: none;
	color: rgb(var(--custom-color));
}

/*
.inv,
[data-callout="inv"],
[data-href*="Inventory" i],
.tag[href*="Inventory" i]
{
	--custom-color: 145, 101, 72;
	--custom-color-2: 0, 0, 0, 0; 
	--custom-hover-mix-color: 255, 255, 255; 

	--custom-font-weight: bold;
	--custom-font-style: normal;

	--custom-font-variant: normal;

	--callout-icon: lucide-backpack;
}
*/

.inv,
[data-callout="inv"],
[data-href*="Inventory" i],
.tag[href*="Inventory" i]
{
	--custom-color: 145, 101, 72;
	--custom-color-2: none;
	--custom-hover-mix-color: 255, 255, 255; 

	--custom-font-weight: bold;

	text-shadow: none;
	color: rgb(var(--custom-color));

	--callout-icon: lucide-backpack;
}

.cyber,
[data-callout="cyber"],
[data-href*="Cyberware" i],
.tag[href*="Cyberware" i]
{
	--custom-color: 189, 155, 46;
	--custom-color-2: none;
	--custom-hover-mix-color: 255, 255, 255; 

	--custom-font-weight: bold;

	text-shadow: none;
	color: rgb(var(--custom-color));

	--callout-icon: lucide-square-activity;
}

.hum,
.callout[data-callout="hum"],
[data-href*="Humanity" i],
.tag[href*="Humanity" i]
{
	--custom-color: 80, 196, 37; 
	--custom-color-2: none;
	--custom-hover-mix-color: 255, 255, 255; 

	--custom-font-weight: bold;

	text-shadow: none;
	color: rgb(var(--custom-color));
}

.humlow,
[data-callout="humlow"],
[data-href*="Low Humanity" i], [data-href*="Humanity Loss" i],
.tag[href*="Low Humanity" i], .tag[href*="Humanity Loss" i]
{
	--custom-color: 208, 67, 57;
	--custom-color-2: none;
	--custom-hover-mix-color: 255, 255, 255; 

	--custom-font-weight: bold;

	text-shadow: none;
	color: rgb(var(--custom-color));
}

.stats,
[data-callout="stats"],
[data-href*="stats" i],
.tag[href*="stats" i]
{
	--custom-color: 46, 189, 110;
	--custom-color-2: none;
	--custom-hover-mix-color: 255, 255, 255; 

	--custom-font-weight: bold;

	text-shadow: none;
	color: rgb(var(--custom-color));

	--callout-icon: lucide-waypoints;
}

.plus, .positive,
[data-callout="plus"], [data-callout="positive"],
[data-href*="plus" i], [data-href*="positive" i],
.tag[href*="plus" i], .tag[href*="positive" i]
{
	--custom-color: 66, 196, 37;
	--custom-color-2: none;
	--custom-hover-mix-color: 255, 255, 255; 

	--custom-font-weight: bold;

	text-shadow: none;
	color: rgb(var(--custom-color));

	--callout-icon: lucide-plus;
}

.minus, .negative,
[data-callout="minus"], [data-callout="negative"],
[data-href*="minus" i], [data-href*="negative" i],
.tag[href*="minus" i], .tag[href*="negative" i]
{
	--custom-color: 196, 37, 66;
	--custom-color-2: none;
	--custom-hover-mix-color: 255, 255, 255; 

	--custom-font-weight: bold;

	text-shadow: none;
	color: rgb(var(--custom-color));

	--callout-icon: lucide-minus;
}
.rolls, .body, .reflex, .tech, .int, .intel, .cool, .attributes,
[data-callout="rolls"], [data-callout="body"], [data-callout="reflex"], [data-callout="tech"], [data-callout="int"], [data-callout="intel"], [data-callout="cool"], [data-callout="attributes"],
[data-href*="rolls" i], [data-href*="body" i], [data-href*="reflexes" i], [data-href*="technicality" i], [data-href*="intelligence" i], [data-href*="cool" i], [data-href*="attributes" i], [data-href*="attribute" i],
.tag[href*="rolls" i], .tag[href*="body" i], .tag[href*="reflexes" i], .tag[href*="technicality" i], .tag[href*="intelligence" i], .tag[href*="cool" i], .tag[href*="attributes" i], .tag[href*="attribute" i]
{
	--custom-color: 69, 179, 124;
	--custom-color-2: none;
	--custom-hover-mix-color: 255, 255, 255; 

	--custom-font-weight: bold;

	text-shadow: none;
	color: rgb(var(--custom-color));
}
 
.combat,
[data-callout="combat"],
[data-href*="combat" i],
.tag[href*="combat" i]
{
	--custom-color: 230, 96, 96;
	--custom-color-2: none;
	--custom-hover-mix-color: 255, 255, 255; 

	--custom-font-weight: bold;

	text-shadow: none;
	color: rgb(var(--custom-color));

	--callout-icon: lucide-sword;
}

.sneak,
[data-callout="sneak"],
[data-href*="sneak" i],
.tag[href*="sneak" i]
{
	--custom-color: 154, 96, 230;
	--custom-color-2: none;
	--custom-hover-mix-color: 255, 255, 255; 

	--custom-font-weight: bold;

	text-shadow: none;
	color: rgb(var(--custom-color));

	--callout-icon: lucide-eye-closed;
}

.mental,
[data-callout="mental"],
[data-href*="mental" i],
.tag[href*="mental" i]
{
	--custom-color: 96, 165, 230;
	--custom-color-2: none;
	--custom-hover-mix-color: 255, 255, 255; 

	--custom-font-weight: bold;

	text-shadow: none;
	color: rgb(var(--custom-color));

	--callout-icon: lucide-brain;
}

.defense,
[data-callout="defense"],
[data-href*="defense" i],
.tag[href*="defense" i]
{
	--custom-color: 230, 172, 96;
	--custom-color-2: none;
	--custom-hover-mix-color: 255, 255, 255; 

	--custom-font-weight: bold;

	text-shadow: none;
	color: rgb(var(--custom-color));

	--callout-icon: lucide-shield;
}

.soulstats,
[data-callout="soulstats"], [data-callout-metadata*="s."],
[data-href*="soul stats" i],
.tag[href*="soul stats" i]
{
	--custom-color: 114, 81, 190;
	--custom-color-2: none;
	--custom-hover-mix-color: 255, 255, 255; 

	--custom-font-weight: bold;

	text-shadow: none;
	color: rgb(var(--custom-color));;
}

	/*
		status customs
	*/
.actions, .action, .stun,
[data-callout="actions"], [data-callout="action"], [data-callout="stun"],
[data-href*="actions" i], [data-href*="action" i], [data-href*="stun" i],
.tag[href*="actions" i], .tag[href*="action" i], .tag[href*="stun" i]
{
	--custom-color: 235, 147, 32;
	--custom-color-2: none;
	--custom-hover-mix-color: 255, 255, 255; 

	--custom-font-weight: bold;

	text-shadow: none;
	color: rgb(var(--custom-color));
}

.poise,
[data-callout="poise"],
[data-href*="poise" i],
.tag[href*="poise" i]
{
	--custom-color: 200,208,208;
	--custom-color-2: none;
	--custom-hover-mix-color: 255, 255, 255; 

	--custom-font-weight: bold;

	text-shadow: none;
	color: rgb(var(--custom-color));
}

.scorch,
[data-callout="scorch"],
[data-href*="scorching" i],
.tag[href*="scorching" i]
{
	--custom-color: 200,208,208;
	--custom-color-2: none;
	--custom-hover-mix-color: 255, 255, 255; 

	--custom-font-weight: bold;

	text-shadow: none;
	color: rgb(var(--custom-color));
}

.burn,
[data-callout="burn"],
[data-href$="burn" i],
.tag[href$="burn" i]
{
	--custom-color: 255,120,31;
	--custom-color-2: none;
	--custom-hover-mix-color: 255, 255, 255; 

	--custom-font-weight: bold;

	text-shadow: none;
	color: rgb(var(--custom-color));
}

.igni,
[data-callout="igni"],
[data-href*="Ignition" i],
.tag[href*="Ignition" i]
{
	--custom-color: 251, 174, 9;
	--custom-color-2: none;
	--custom-hover-mix-color: 255, 255, 255; 

	--custom-font-weight: bold;

	text-shadow: none;
	color: rgb(var(--custom-color));
}

.bleed, .vengeance, .onimark, .unbreak,
[data-callout="bleed"], [data-callout="vengeance"], [data-callout="onimark"], [data-callout="unbreak"], 
[data-href*="Bloodloss" i], [data-href*="vengeance" i], [data-href*="Mark of the Oni" i], [data-href*="Unbreakable" i], [data-href*="Unbreakables" i], [data-href*="Unbreakable Skill" i], [data-href*="Unbreakable Skills" i], 
.tag[href*="Bloodloss" i], .tag[href*="vengeance" i], .tag[href*="Mark of the Oni" i], .tag[href*="Unbreakable" i], .tag[href*="Unbreakables" i], .tag[href*="Unbreakable Skill" i], .tag[href*="Unbreakable Skills" i]
{
	--custom-color: 223, 21, 7;
	--custom-color-2: none;
	--custom-hover-mix-color: 255, 255, 255; 

	--custom-font-weight: bold;

	text-shadow: none;
	color: rgb(var(--custom-color));
}

.hemo, .cracked,
[data-callout="hemo"], [data-callout="cracked"],
[data-href*="Hemorrhage" i], [data-href*="cracked" i], 
.tag[href*="Hemorrhage" i], .tag[href*="cracked" i]
{
	--custom-color: 198,16,0;
	--custom-color-2: none;
	--custom-hover-mix-color: 255, 255, 255; 

	--custom-font-weight: bold;

	text-shadow: none;
	color: rgb(var(--custom-color));
}

.bf, .bloodflame,
[data-callout="bf"], [data-callout="bloodflame"],
[data-href*="bloodflame" i], [data-href*="Seared" i], [data-href*="Enflamed" i],
.tag[href*="bloodflame" i], .tag[href*="Seared" i], .tag[href*="Enflamed" i]
{
	--custom-color: 71, 0, 0; 
	--custom-color-2: 224, 6, 2;
	--custom-hover-mix-color: 0, 0, 0; 

	--custom-font-weight: bold;


	/* set 0 to 1 for shadow & border */
	--text-shadow-1: rgba(var(--custom-color), 1);
	--text-shadow-2: rgba(var(--custom-color-2), 1);
	--text-shadow-3: rgba(var(--custom-color-2), 0.5);
	color: rgb(var(--custom-color));
}

.vital,
[data-callout="vital"],
[data-href*="vitality" i],
.tag[href*="vitality" i]
{
	--custom-color: 12,230,141;
	--custom-color-2: none;
	--custom-hover-mix-color: 255, 255, 255; 

	--custom-font-weight: bold;

	text-shadow: none;
	color: rgb(var(--custom-color));
}

.downed,
[data-callout="downed"],
[data-href*="downed" i],
.tag[href*="downed"]
 {
	--custom-color: 234, 95, 29;
	--custom-color-2: none;
	--custom-hover-mix-color: 255, 255, 255; 

	--custom-font-weight: bold;

	text-shadow: none;
	color: rgb(var(--custom-color));
}

.dd,
[data-callout="dd"],
[data-href*="Death's Door" i],
.tag[href*="Death's door" i]
{
	--custom-color: 224, 0, 0;
	--custom-color-2: none;
	--custom-hover-mix-color: 255, 255, 255; 

	--custom-font-weight: bold;

	text-shadow: none;
	color: rgb(var(--custom-color));
}

.ddrec,
[data-callout="ddrec"],
[data-href*="Death's Door Recovery" i],
.tag[href*="Death's door recovery" i]
{
	--custom-color: 191, 187, 187;
	--custom-color-2: none;
	--custom-hover-mix-color: 255, 255, 255; 

	--custom-font-weight: bold;

	text-shadow: none;
	color: rgb(var(--custom-color));
}

.cog,
[data-callout="cog"],
[data-href*="cognitive" i],
.tag[href*="cognitive" i]
{
	--custom-color:33, 132, 237;
	--custom-color-2: none;
	--custom-hover-mix-color: 255, 255, 255; 

	--custom-font-weight: bold;

	text-shadow: none;
	color: rgb(var(--custom-color));
}

.phys,
[data-callout="phys"],
[data-href*="Physical" i]
.tag[href*="Physical" i]
{
	--custom-color: 224, 26, 30;
	--custom-color-2: none;
	--custom-hover-mix-color: 255, 255, 255; 

	--custom-font-weight: bold;

	text-shadow: none;
	color: rgb(var(--custom-color));
}

.guardbreak, .guardbroken,
[data-callout="guardbreak"], [data-callout="guardbroken"],
[data-href*="Guardbreak" i], [data-href*="Guardbroken" i], 
.tag[href*="Guardbreak" i], .tag[href*="Guardbroken" i]
{
	--custom-color: 116, 6, 2;
	--custom-color-2: none;
	--custom-hover-mix-color: 255, 255, 255; 

	--custom-font-weight: bold;

	text-shadow: none;
	color: rgb(var(--custom-color));
}

.tremor,
[data-callout="tremor"],
[data-href*="Tremor" i],
.tag[href*="Tremor" i]
{
	--custom-color: 236, 182, 121;
	--custom-color-2: none;
	--custom-hover-mix-color: 255, 255, 255; 

	--custom-font-weight: bold;

	text-shadow: none;
	color: rgb(var(--custom-color));
}

.shock,
[data-callout="shock"],
[data-href*="Seisimic Shock" i], 
.tag[href*="Seisimic-Shock" i]
{
	--custom-color: 242, 168, 84;
	--custom-color-2: none;
	--custom-hover-mix-color: 255, 255, 255; 

	--custom-font-weight: bold;

	text-shadow: none;
	color: rgb(var(--custom-color));
}

.hemoshock,
[data-callout="hemoshock"], 
[data-href*="Seisimic Hemorrhage" i], 
.tag[href*="Seisimic-Hemorrhage" i]
{
	--custom-color: 159, 45, 30;
	--custom-color-2: none;
	--custom-hover-mix-color: 255, 255, 255; 

	--custom-font-weight: bold;

	text-shadow: none;
	color: rgb(var(--custom-color));
}

.tox,
[data-callout="tox"], 
[data-href*="Toxin" i],
.tag[href*="Toxin" i]
{
	--custom-color: 62, 212, 60;
	--custom-color-2: none;
	--custom-hover-mix-color: 255, 255, 255; 

	--custom-font-weight: bold;

	text-shadow: none;
	color: rgb(var(--custom-color));
}

.stealth, .cloaked,
[data-callout="stealth"], [data-callout="cloaked"],
[data-href*="Stealth" i], [data-href*="Cloaked" i],
.tag[href*="Stealth" i], .tag[href*="Cloaked" i] 
{
	--custom-color: 117, 73, 204;
	--custom-color-2: none;
	--custom-hover-mix-color: 255, 255, 255; 

	--custom-font-weight: bold;

	text-shadow: none;
	color: rgb(var(--custom-color));
}

.void,
[data-callout="void"],
[data-href*="void" i],
.tag[href*="void" i]
{
	--custom-color: 12, 12, 22;
	--custom-color-2: 62, 30, 204;
    --custom-hover-mix-color: 0, 0, 0; 

	--custom-font-weight: bold;

	/* set 0 to 1 for shadow & border */
	--text-shadow-1: rgba(var(--custom-color), 1);
	--text-shadow-2: rgba(var(--custom-color-2), 1);
	--text-shadow-3: rgba(var(--custom-color-2), 0.5);
	color: rgb(var(--custom-color));
}

.deathblight, .db,
[data-callout="deathblight"], [data-callout="db"],
[data-href*="deathblight" i], 
.tag[href*="deathblight" i] {
	--custom-color: 13, 13, 14;
	--custom-color-2: 108, 107, 121;
	--custom-hover-mix-color: 0, 0, 0; 

	--custom-font-weight: bold;

	/* set 0 to 1 for shadow & border */
	--text-shadow-1: rgba(var(--custom-color), 1);
	--text-shadow-2: rgba(var(--custom-color-2), 1);
	--text-shadow-3: rgba(var(--custom-color-2), 0.5);
	color: rgb(var(--custom-color));
}

.venom,
[data-callout="venom"],
[data-href*="Venom" i], 
.tag[href*="Venom" i]
{
	--custom-color: 62, 30, 204;
	--custom-color-2: none;
	--custom-hover-mix-color: 255, 255, 255; 

	--custom-font-weight: bold;

	text-shadow: none;
	color: rgb(var(--custom-color));
}

.poiseven,
[data-callout="poiseven"],
[data-href*="Envenoming" i], 
.tag[href*="Envenoming" i]
{
	--custom-color: 68, 4, 151;
	--custom-color-2: none;
	--custom-hover-mix-color: 255, 255, 255; 

	--custom-font-weight: bold;

	text-shadow: none;
	color: rgb(var(--custom-color));
}

.poiseburn, 
[data-callout="poiseburn"],
[data-href*="Poise" i][data-href*="Scorching" i],
.tag[href*="Poise-Scorching" i]
{
	--custom-color: 234, 93, 35;
	--custom-color-2: none;
	--custom-hover-mix-color: 255, 255, 255; 

	--custom-font-weight: bold;

	text-shadow: none;
	color: rgb(var(--custom-color));
}

.poisebleed, .poisehemo,
[data-callout="poisebleed"], [data-callout="poisehemo"],
[data-href*="Poise" i][data-href*="Hemorrhage" i],
.tag[href*="Poise-Hemorrhage" i]
{
	--custom-color: 68, 4, 151;
	--custom-color-2: none;
	--custom-hover-mix-color: 255, 255, 255; 

	--custom-font-weight: bold;

	text-shadow: none;
	color: rgb(var(--custom-color));
}

.tremorhemo, 
[data-callout="tremorhemo"],
[data-href*="Tremor" i][data-href*="Hemorrhage" i],
.tag[href*="Tremor-Hemorrhage" i]
{
	--custom-color: 210, 74, 40;
	--custom-color-2: none;
	--custom-hover-mix-color: 255, 255, 255; 

	--custom-font-weight: bold;

	text-shadow: none;
	color: rgb(var(--custom-color));
}

.crit, 
[data-callout="crit"],
[data-href*="Critical" i],
.tag[href*="Critical" i]
{
	--custom-color: 248, 219, 155;
	--custom-color-2: none;
	--custom-hover-mix-color: 255, 255, 255; 

	--custom-font-weight: bold;

	text-shadow: none;
	color: rgb(var(--custom-color));
}

.stance,
[data-callout="stance"],
[data-href*="Stance" i],
.tag[href*="Stance" i]
{
	--custom-color: 213, 162, 32;
	--custom-color-2: none;
	--custom-hover-mix-color: 255, 255, 255; 

	--custom-font-weight: bold;

	text-shadow: none;
	color: rgb(var(--custom-color));
}

.stancebreak, 
[data-callout="stancebreak"], 
[data-href*="Stancebreak" i], [data-href*="Stancebroken" i],
.tag[href*="Stancebreak" i], .tag[href*="Stancebroken" i]
{
	--custom-color: 245, 199, 36;
	--custom-color-2: none;
	--custom-hover-mix-color: 255, 255, 255; 

	--custom-font-weight: bold;

	text-shadow: none;
	color: rgb(var(--custom-color));
}

.sheath, 
[data-callout="sheath"],
[data-href*="Sheathed" i],
.tag[href*="Sheathed" i]
{
	--custom-color: 199, 210, 224;
	--custom-color-2: none;
	--custom-hover-mix-color: 255, 255, 255; 

	--custom-font-weight: bold;

	text-shadow: none;
	color: rgb(var(--custom-color));
}

.unsheath, 
[data-callout="unsheath"],
[data-href*="Unsheathed" i],
.tag[href*="Unsheathed" i]
{
	--custom-color: 141, 178, 226;
	--custom-color-2: none;
	--custom-hover-mix-color: 255, 255, 255; 

	--custom-font-weight: bold;

	text-shadow: none;
	color: rgb(var(--custom-color));
}

.awakened, 
[data-callout="awakened"], 
[data-href*="Awakened" i], 
.tag[href*="Awakened" i]
{
	--custom-color: 197, 9, 15;
	--custom-color-2: none;
	--custom-hover-mix-color: 255, 255, 255; 

	--custom-font-weight: bold;

	text-shadow: none;
	color: rgb(var(--custom-color));
}

.soul,
[data-callout="soul"], 
[data-href*="Soul" i],
.tag[href*="Soul" i]
{
	--custom-color: 180, 133, 249;
    --custom-color-2: none;
	--custom-hover-mix-color: 255, 255, 255; 

	--custom-font-weight: bold;

	text-shadow: none;
	color: rgb(var(--custom-color));
}

.shatt, .shattered, .frag,
[data-callout="shatt"], [data-callout="shattered"], [data-callout="frag"],
[data-href*="Shattered" i], [data-href*="fragility" i],
.tag[href*="Shattered" i], .tag[href*="fragility" i]
{
	--custom-color: 179, 11, 18;
	--custom-color-2: none;
	--custom-hover-mix-color: 255, 255, 255; 

	--custom-font-weight: bold;

	text-shadow: none;
	color: rgb(var(--custom-color));
}


.frac1,
[data-callout="frac1"],
[data-href*="Soul Fracture I" i],
.tag[href="Soul Fracture I" i]
{
	--custom-color: 156, 85, 163;
	--custom-color-2: none;
	--custom-hover-mix-color: 255, 255, 255; 

	--custom-font-weight: bold;

	text-shadow: none;
	color: rgb(var(--custom-color));
}

.frac2, 
[data-callout="frac2"],
[data-href*="Soul Fracture II" i],
.tag[href="Soul Fracture II" i]
{
	--custom-color: 147, 58, 118;
	--custom-color-2: none;
	--custom-hover-mix-color: 255, 255, 255; 

	--custom-font-weight: bold;

	text-shadow: none;
	color: rgb(var(--custom-color));
}

.frac3,
[data-callout="frac3"], 
[data-href*="Soul Fracture III" i],
.tag[href="Soul Fracture III" i]
{
	--custom-color: 174, 35, 84;
	--custom-color-2: none;
	--custom-hover-mix-color: 255, 255, 255; 

	--custom-font-weight: bold;

	text-shadow: none;
	color: rgb(var(--custom-color));
}

.frac4,
[data-callout="frac4"],
[data-href*="Soul Fracture IV" i],
.tag[href="Soul Fracture IV" i] {
	--custom-color: 175, 22, 50;
	--custom-color-2: none;
	--custom-hover-mix-color: 255, 255, 255; 

	--custom-font-weight: bold;

	text-shadow: none;
	color: rgb(var(--custom-color));
}

.nimius, .infernal,
[data-callout="nimius"], [data-callout="infernal"],
[data-href*="Nimius" i], [data-href*="infernal" i],
.tag[href*="Nimius" i], .tag[href*="infernal" i]
{
	--custom-color: 167, 7, 28;
	--custom-color-2: none;
	--custom-hover-mix-color: 255, 255, 255; 

	--custom-font-weight: bold;

	text-shadow: none;
	color: rgb(var(--custom-color));
}

.aether, .indomitable,
[data-callout="aether"], [data-callout="indomitable"],
[data-href*="Aether" i], [data-href*="indomitable" i],
.tag[href*="Aether" i], .tag[href*="indomitable" i]
{
	--custom-color: 93, 161, 217;
	--custom-color-2: none;
	--custom-hover-mix-color: 255, 255, 255; 

	--custom-font-weight: bold;

	text-shadow: none;
	color: rgb(var(--custom-color));
}

.aurora, .unyielding,
[data-callout="aurora"], [data-callout="unyielding"],
[data-href*="aurora" i], [data-href*="unyielding" i],
.tag[href*="Aurora" i], .tag[href*="unyielding" i] 
{
	--custom-color: 241, 200, 146;
	--custom-color-2: none;
	--custom-hover-mix-color: 255, 255, 255; 

	--custom-font-weight: bold;

	text-shadow: none;
	color: rgb(var(--custom-color));
}

.noctis, 
[data-callout="noctis"],
[data-href*="Noctis" i],
.tag[href*="Noctis" i]
{
	--custom-color: 152, 54, 197;
	--custom-color-2: none;
	--custom-hover-mix-color: 255, 255, 255; 

	--custom-font-weight: bold;

	text-shadow: none;
	color: rgb(var(--custom-color));
}

.radiance, 
[data-callout="radiance"],
[data-href*="Radiance" i],
.tag[href*="Radiance" i] {
	--custom-color: 226, 173, 56;
	--custom-color-2: none;
	--custom-hover-mix-color: 255, 255, 255; 

	--custom-font-weight: bold;

	text-shadow: none;
	color: rgb(var(--custom-color));
}

.blinded,
[data-callout="blinded"],
[data-href*="blinded" i], 
.tag[href*="blinded" i] 
{
	--custom-color: 255, 250, 130;
	--custom-color-2: none;
	--custom-hover-mix-color: 255, 255, 255; 

	--custom-font-weight: bold;

	text-shadow: none;
	color: rgb(var(--custom-color));
}

.daybreak, .daybroken,
[data-callout="daybreak"], [data-callout="daybroken"], 
[data-href*="daybreak" i], [data-href*="daybroken" i], 
.tag[href*="daybreak" i], .tag[href*="daybroken" i]
{

	--custom-color: 24, 17, 2;
	--custom-color-2: 236, 204, 134;
    --custom-hover-mix-color: 0, 0, 0; 

	--custom-font-weight: bold;

	/* set 0 to 1 for shadow & border */
	--text-shadow-1: rgba(var(--custom-color), 1);
	--text-shadow-2: rgba(var(--custom-color-2), 1);
	--text-shadow-3: rgba(var(--custom-color-2), 0.5);
	color: rgb(var(--custom-color));
}

.despair, 
[data-callout="despair"],
[data-href*="despair" i],
.tag[href*="despair" i]
{

	--custom-color: 14, 13, 26;
	--custom-color-2: 49, 62, 143;
    --custom-hover-mix-color: 0, 0, 0; 

	--custom-font-weight: bold;

	/* set 0 to 1 for shadow & border */
	--text-shadow-1: rgba(var(--custom-color), 1);
	--text-shadow-2: rgba(var(--custom-color-2), 1);
	--text-shadow-3: rgba(var(--custom-color-2), 0.5);
	color: rgb(var(--custom-color));
}

.dark, 
[data-callout="dark"],
[data-href*="darkness" i],
.tag[href*="darkness" i]
{
	--custom-color: 123, 43, 180;
	--custom-color-2: none;
	--custom-hover-mix-color: 255, 255, 255; 

	--custom-font-weight: bold;

	text-shadow: none;
	color: rgb(var(--custom-color));
}

.adark,
[data-callout="adark"],
[data-href*="Absolute Darkness" i],
.tag[href*="Absolute Darkness" i]
{
	--custom-color: 0, 1, 5;
	--custom-color-2: 53, 7, 122;
    --custom-hover-mix-color: 0, 0, 0; 

	--custom-font-weight: bold;

	/* set 0 to 1 for shadow & border */
	--text-shadow-1: rgba(var(--custom-color), 1);
	--text-shadow-2: rgba(var(--custom-color-2), 1);
	--text-shadow-3: rgba(var(--custom-color-2), 0.5);
	color: rgb(var(--custom-color));
}

.charge,
[data-callout="charge"],
[data-href*="charge" i],
.tag[href*="charge" i]
{
	--custom-color: 49, 150, 242;
	--custom-color-2: none;
	--custom-hover-mix-color: 255, 255, 255; 

	--custom-font-weight: bold;

	text-shadow: none;
	color: rgb(var(--custom-color));
}

.overcharge, 
[data-callout="overcharge"],
[data-href*="overcharge" i],
.tag[href*="overcharge" i] {
	--custom-color: 93, 246, 246;
	--custom-color-2: none;
	--custom-hover-mix-color: 255, 255, 255; 

	--custom-font-weight: bold;

	text-shadow: none;
	color: rgb(var(--custom-color));
}

.san, .sanity, .calm,
[data-callout="san"], [data-callout="sanity"], [data-callout="calm"],
[data-href*="san" i], [data-href*="sanity" i], [data-href*="calm" i], 
.tag[href*="san" i], .tag[href*="sanity" i], .tag[href*="calm" i] 
{
	--custom-color: 136, 219, 255;
	--custom-color-2: none;
	--custom-hover-mix-color: 255, 255, 255; 

	--custom-font-weight: bold;

	text-shadow: none;
	color: rgb(var(--custom-color));
}

.san2, 
[data-callout="san2"], 
[data-href*="composed" i],
.tag[href*="composed" i] 
{
	--custom-color: 142, 169, 199;
	--custom-color-2: none;
	--custom-hover-mix-color: 255, 255, 255; 

	--custom-font-weight: bold;

	text-shadow: none;
	color: rgb(var(--custom-color));
}

.san3, 
[data-callout="san3"], 
[data-href*="Nervous" i], 
.tag[href*="Nervous" i] 
{
	--custom-color: 147, 127, 151;
	--custom-color-2: none;
	--custom-hover-mix-color: 255, 255, 255; 

	--custom-font-weight: bold;

	text-shadow: none;
	color: rgb(var(--custom-color));
}

.san4,
[data-callout="san4"],
[data-href*="Delirous" i],
.tag[href*="Delirous" i]
{
	--custom-color: 152, 85, 103;
	--custom-color-2: none;
	--custom-hover-mix-color: 255, 255, 255; 

	--custom-font-weight: bold;

	text-shadow: none;
	color: rgb(var(--custom-color));
}

.san5, .panic, .panicking,
[data-callout="san5"], [data-callout="panic"], [data-callout="panicking"], 
[data-href*="Panic" i], [data-href*="Panicking" i], 
.tag[href*="panic" i], .tag[href*="panicking" i]
{
	--custom-color: 158, 35, 47;
	--custom-color-2: none;
	--custom-hover-mix-color: 255, 255, 255; 

	--custom-font-weight: bold;

	text-shadow: none;
	color: rgb(var(--custom-color));
}

.psy, .psychosis, .psychotic, .der, .deranged,
[data-callout="psy"], [data-callout="psychotic"], [data-callout="psychosis"], [data-callout="der"], [data-callout="deranged"], 
[data-href*="psychosis" i], [data-href*="psychotic" i], [data-href*="deranged" i],
.tag[href*="psychosis" i], .tag[href*="psychotic" i], .tag[href*="deranged" i]
{
	--custom-color: 139, 16, 28;
	--custom-color-2: none;
	--custom-hover-mix-color: 255, 255, 255; 

	--custom-font-weight: bold;

	text-shadow: none;
	color: rgb(var(--custom-color));
}

.expertise, .exp,
[data-callout="expertise"], [data-callout="exp"],
[data-href*="expertise" i],
.tag[href*="expertise" i] 
{
	--custom-color: 138, 190, 255;
	--custom-color-2: none;
	--custom-hover-mix-color: 255, 255, 255; 

	--custom-font-weight: bold;

	text-shadow: none;
	color: rgb(var(--custom-color));
}

.tactic, .tactics, .tac,
[data-callout="tactic"], [data-callout="tactics"], [data-callout="tac"],
[data-href*="tactic" i], [data-href*="tactics" i],
.tag[href*="tactic" i], .tag[href*="tactics" i]
{
	--custom-color: 96, 157, 241;
	--custom-color-2: none;
	--custom-hover-mix-color: 255, 255, 255; 

	--custom-font-weight: bold;

	text-shadow: none;
	color: rgb(var(--custom-color));
}