@use "./base.scss";
@use "../../.obsidian/snippets/customcolors.css" as *;

p {
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}

//* custom stuff for callouts *//
.callout[data-callout-metadata*="none"] > .callout-title, .callout[data-callout-metadata*="none"] > .callout-title > .callout-icon {
    display: none;
}
.callout[data-callout-metadata*="none"] > .callout-content {
    padding-top: 1.4em;
}

.callout[data-callout-metadata="none|min-0"] img {
	border: 2px solid rgb(var(--color));
}
.callout[data-callout-metadata="invis"] { 
	background-color: transparent;
	border-inline-start: none;
    --bg: transparent;
    --border: transparent;
    --color: transparent;
    --callout-icon: 'content/contents/icons/na.svg';
    
    & > .callout-title, & > .callout-title > .callout-icon {
        display: none;
    }
}
/* important metadata */
.callout[data-callout-metadata="marginup"] {
	margin-top: 15px !important;
}
.callout[data-callout-metadata="margindown"] {
	margin-bottom: 10px !important;
}
.callout[data-callout-metadata*="halfpad"] {
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 12px;
	margin-right: 12px;
}
.inline-embed[alt="none"] > .markdown-embed-title {
	display: none;
}

blockquote.transclude {
    border-left: 0px solid transparent;
    padding-left: 0px; 
> h1, > .internal {
    display: none;
}
}

.floatl, [alt="floatl"], .floatr, [alt="floatr"] {
    vertical-align: sub;
	height: 85px;
    width: 85px;
}
.floatl, [alt="floatl"] {
    float:inline-start;
    margin-right: 1em;
}
.floatr, [alt="floatr"] {
	float: inline-end;
	margin-left: 1em;

}

.callout[data-callout-metadata="status|none"] .callout-content
{   padding-left: 1em;
    padding-right: 1em;
> p:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: row;
}
}
.icon, img[alt="icon"] {
	vertical-align: sub;
    height: 20px;
    width: 20px;
}
/* custom list */
.callout { /* THESE WERE A FUCKING NIGHTMARE OH MY GOD */
  &.signature {
    --callout-icon: url('data:image/svg+xml; utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-signature-icon lucide-signature"><path d="m21 17-2.156-1.868A.5.5 0 0 0 18 15.5v.5a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1c0-2.545-3.991-3.97-8.5-4a1 1 0 0 0 0 5c4.153 0 4.745-11.295 5.708-13.5a2.5 2.5 0 1 1 3.31 3.284"/><path d="M3 21h18"/></svg> '); //SVG icon code
  }
    &.biography {
    --callout-icon: url('data:image/svg+xml; utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-eye-icon lucide-eye"><path d="M2.062 12.348a1 1 0 0 1 0-.696 10.75 10.75 0 0 1 19.876 0 1 1 0 0 1 0 .696 10.75 10.75 0 0 1-19.876 0"/><circle cx="12" cy="12" r="3"/></svg> '); //SVG icon code
  }
    &.inv {
    --callout-icon: url('data:image/svg+xml; utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-backpack-icon lucide-backpack"><path d="M4 10a4 4 0 0 1 4-4h8a4 4 0 0 1 4 4v10a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2z"/><path d="M8 10h8"/><path d="M8 18h8"/><path d="M8 22v-6a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v6"/><path d="M9 6V4a2 2 0 0 1 2-2h2a2 2 0 0 1 2 2v2"/></svg> '); //SVG icon code
  }
    &.menuu {
    --callout-icon: url('data:image/svg+xml; utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-menu-icon lucide-menu"><path d="M4 5h16"/><path d="M4 12h16"/><path d="M4 19h16"/></svg> ');
  }
    &.cyber {
    --callout-icon: url('data:image/svg+xml; utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-square-activity-icon lucide-square-activity"><rect width="18" height="18" x="3" y="3" rx="2"/><path d="M17 12h-2l-2 5-2-10-2 5H7"/></svg> ');
  }
    &.hum {
    --callout-icon: url('data:image/svg+xml; utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-person-standing-icon lucide-person-standing"><circle cx="12" cy="5" r="1"/><path d="m9 20 3-6 3 6"/><path d="m6 8 6 2 6-2"/><path d="M12 10v4"/></svg> ');
  }
    &.stats {
    --callout-icon: url('data:image/svg+xml; utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-waypoints-icon lucide-waypoints"><path d="m10.586 5.414-5.172 5.172"/><path d="m18.586 13.414-5.172 5.172"/><path d="M6 12h12"/><circle cx="12" cy="20" r="2"/><circle cx="12" cy="4" r="2"/><circle cx="20" cy="12" r="2"/><circle cx="4" cy="12" r="2"/></svg> ');
  }
    &.soulstats{
    --callout-icon: url('data:image/svg+xml; utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-flame-icon lucide-flame"><path d="M12 3q1 4 4 6.5t3 5.5a1 1 0 0 1-14 0 5 5 0 0 1 1-3 1 1 0 0 0 5 0c0-2-1.5-3-1.5-5q0-2 2.5-4"/></svg> ');
  }
    &.passives {
    --callout-icon: url('data:image/svg+xml; utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-dna-icon lucide-dna"><path d="m10 16 1.5 1.5"/><path d="m14 8-1.5-1.5"/><path d="M15 2c-1.798 1.998-2.518 3.995-2.807 5.993"/><path d="m16.5 10.5 1 1"/><path d="m17 6-2.891-2.891"/><path d="M2 15c6.667-6 13.333 0 20-6"/><path d="m20 9 .891.891"/><path d="M3.109 14.109 4 15"/><path d="m6.5 12.5 1 1"/><path d="m7 18 2.891 2.891"/><path d="M9 22c1.798-1.998 2.518-3.995 2.807-5.993"/></svg> ');
  }
    &.plus {
    --callout-icon: url('data:image/svg+xml; utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-plus-icon lucide-plus"><path d="M5 12h14"/><path d="M12 5v14"/></svg> ');
  }
    &.minus {
    --callout-icon: url('data:image/svg+xml; utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-minus-icon lucide-minus"><path d="M5 12h14"/></svg> ');
  }
    &.rolls {
    --callout-icon: url('data:image/svg+xml; utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-dices-icon lucide-dices"><rect width="12" height="12" x="2" y="10" rx="2" ry="2"/><path d="m17.92 14 3.5-3.5a2.24 2.24 0 0 0 0-3l-5-4.92a2.24 2.24 0 0 0-3 0L10 6"/><path d="M6 18h.01"/><path d="M10 14h.01"/><path d="M15 6h.01"/><path d="M18 9h.01"/></svg> ');
  }
    &.body {
    --callout-icon: url('data:image/svg+xml; utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-biceps-flexed-icon lucide-biceps-flexed"><path d="M12.409 13.017A5 5 0 0 1 22 15c0 3.866-4 7-9 7-4.077 0-8.153-.82-10.371-2.462-.426-.316-.631-.832-.62-1.362C2.118 12.723 2.627 2 10 2a3 3 0 0 1 3 3 2 2 0 0 1-2 2c-1.105 0-1.64-.444-2-1"/><path d="M15 14a5 5 0 0 0-7.584 2"/><path d="M9.964 6.825C8.019 7.977 9.5 13 8 15"/></svg> ');
  }
    &.reflex {
    --callout-icon: url('data:image/svg+xml; utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-eye-icon lucide-eye"><path d="M2.062 12.348a1 1 0 0 1 0-.696 10.75 10.75 0 0 1 19.876 0 1 1 0 0 1 0 .696 10.75 10.75 0 0 1-19.876 0"/><circle cx="12" cy="12" r="3"/></svg> ');
  }
    &.tech {
    --callout-icon: url('data:image/svg+xml; utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-cpu-icon lucide-cpu"><path d="M12 20v2"/><path d="M12 2v2"/><path d="M17 20v2"/><path d="M17 2v2"/><path d="M2 12h2"/><path d="M2 17h2"/><path d="M2 7h2"/><path d="M20 12h2"/><path d="M20 17h2"/><path d="M20 7h2"/><path d="M7 20v2"/><path d="M7 2v2"/><rect x="4" y="4" width="100%" height="100%" rx="2"/><rect x="8" y="8" width="8" height="8" rx="1"/></svg> ');
  }
    &.intel {
    --callout-icon: url('data:image/svg+xml; utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-brain-cog-icon lucide-brain-cog"><path d="m10.852 14.772-.383.923"/><path d="m10.852 9.228-.383-.923"/><path d="m13.148 14.772.382.924"/><path d="m13.531 8.305-.383.923"/><path d="m14.772 10.852.923-.383"/><path d="m14.772 13.148.923.383"/><path d="M17.598 6.5A3 3 0 1 0 12 5a3 3 0 0 0-5.63-1.446 3 3 0 0 0-.368 1.571 4 4 0 0 0-2.525 5.771"/><path d="M17.998 5.125a4 4 0 0 1 2.525 5.771"/><path d="M19.505 10.294a4 4 0 0 1-1.5 7.706"/><path d="M4.032 17.483A4 4 0 0 0 11.464 20c.18-.311.892-.311 1.072 0a4 4 0 0 0 7.432-2.516"/><path d="M4.5 10.291A4 4 0 0 0 6 18"/><path d="M6.002 5.125a3 3 0 0 0 .4 1.375"/><path d="m9.228 10.852-.923-.383"/><path d="m9.228 13.148-.923.383"/><circle cx="12" cy="12" r="3"/></svg> ');
  }
    &.cool {
    --callout-icon: url('data:image/svg+xml; utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-scale-icon lucide-scale"><path d="M12 3v18"/><path d="m19 8 3 8a5 5 0 0 1-6 0zV7"/><path d="M3 7h1a17 17 0 0 0 8-2 17 17 0 0 0 8 2h1"/><path d="m5 8 3 8a5 5 0 0 1-6 0zV7"/><path d="M7 21h10"/></svg> ');
  }
    &.combat {
    --callout-icon: url('data:image/svg+xml; utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-sword-icon lucide-sword"><path d="m11 19-6-6"/><path d="m5 21-2-2"/><path d="m8 16-4 4"/><path d="M9.5 17.5 21 6V3h-3L6.5 14.5"/></svg> ');
  }
    &.sneak {
    --callout-icon: url('data:image/svg+xml; utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-eye-closed-icon lucide-eye-closed"><path d="m15 18-.722-3.25"/><path d="M2 8a10.645 10.645 0 0 0 20 0"/><path d="m20 15-1.726-2.05"/><path d="m4 15 1.726-2.05"/><path d="m9 18 .722-3.25"/></svg> ');
  }
    &.mental {
    --callout-icon: url('data:image/svg+xml; utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-brain-icon lucide-brain"><path d="M12 18V5"/><path d="M15 13a4.17 4.17 0 0 1-3-4 4.17 4.17 0 0 1-3 4"/><path d="M17.598 6.5A3 3 0 1 0 12 5a3 3 0 1 0-5.598 1.5"/><path d="M17.997 5.125a4 4 0 0 1 2.526 5.77"/><path d="M18 18a4 4 0 0 0 2-7.464"/><path d="M19.967 17.483A4 4 0 1 1 12 18a4 4 0 1 1-7.967-.517"/><path d="M6 18a4 4 0 0 1-2-7.464"/><path d="M6.003 5.125a4 4 0 0 0-2.526 5.77"/></svg> ');
  }
}

    /* coloring & setting */
.hidetags {
    .tags {
        display: none;
    }
*[stroke] {
    stroke: inherit;
}
}
* {
    &.signature, &.biography, &.menuu, &.passives {
        color: #999999;
        }
}
* {
    &.rolls, &.body, &.reflex, &.tech, &.intel, &.cool {
        color: #45b37c;
        }
}
* {
    &.inv {
        color: #916548;
        }
}
* {
    &.cyber {
        color: #bd9b2e;
        }
}
* {
    &.hum {
        color: #50c425;
        }
}
* {
    &.humlow {
        color: #d04339;
        }
}
* {
    &.stats {
        color: #2ebd6e;
        }
}
* {
    &.plus {
        color: #42c403;
        }
}
* {
    &.minus {
        color: #c42542;
        }
}
* {
    &.combat {
        color: #e66060;
        }
}
* {
    &.sneak {
        color: #9a60e6;
        }
}
* {
    &.mental {
        color: #60a5e6;
        }
}
* {
    &.soulstats, &[data-callout-metadata*="s."] {
        color: #7251be;
        }
}

    /* link colors yayyy yay yippie yayyyyyy */
/* set here link colors! */
/* quick notes about selectors:
    1. they MUST be captalized and spaces joined instead by dashes (ie. Vital-States)
    2. Bursts unfortunately cannot have link colors¹
    3. Stats like Combat do not need links
    4. a[href=""] is exclusive to this .scss file, use a[data-href=""] for Obsidian links in customcolors.css²

    5. How to do selectors:
        a. use one or both selectors:
            *= "STRING"
                > anything CONTAINING the STRING:
				ex. =*"Vital", selects "Vital-States", "Vital-State", "Vital State", etc
            $= "STRING"
                > anything ENDING with the STRING:
				ex. $="Scorching" -> "(Poise-...)Scorching" and "...Scorching"
        b. You can join these for more complex and specific selectors:
                ex. [href*="Ment"][href$="Down"] -> "...Ment(...al Power ...)Down"
        c. Must have at least one selector for the end of the string (due to the way Quartz parses links).
                ex. href="../../content/statuses/poise" -> =$poise
        will not select Poise - Hemo or Poise - Scorch since they don't end with poise
        Vital States is an exception due to (currently) no other status/mechanic using the word itsef.
        May or may not change later as we develop this
    

    [¹] this is due to a limitation: I can't select the contents of <a> within css, thus it cannot determine the difference between [[Tremor|Seisimic Shock]] and [[Tremor]] as they both output <a href="Tremor">. and besides, bursts shouldn't need to link back to their statuses since it's likely it'll already be linked somewhere nearby...
    [²] Unlike data-href, which permits spaces in the link in Obsidian, you might need to mess around with selectors to try and 'nab' the href, as quartz parses-links-like-this. Ask me for help if needed
    */
    .explorer-content ul li>a {
        color: var(--gray) !important;
        &:hover {
        color: var(--darkgray) !important;
    }
        &.active {
        color: var(--dark) !important; 
        }
    }
/*
a {
    &[href$="Poise"]  {
    color: #c8d0d0;
	font-weight:bold;
	--highlight: #c8d0d026;
  };
*/
    /* non-status */
a, a[role=anchor], a.tag-link, a.internal {
     
    &[href$="Signature"], &[href$="Biography"], &[href$="Menu"], &[href$="Passives"],
    &[href$="signature"], &[href$="biography"], &[href$="menu"], &[href$="Passives"] {
        color: #999999;
	--highlight: #99999926;
        };
    &[href$="Rolls"], [href$="Body"], &[href$="Reflexes"], &[href$="Technical"], &[href$="Intelligence"], &[href$="Cool"],
    &[href$="rolls"], [href$="body"], &[href$="reflexes"], &[href$="technical"], &[href$="intelligence"], &[href$="cool"] {
        color: #45b37c;
	--highlight: #45b37c26;
        };
    &[href$="Inventory"], &[href$="inventory"] {
        color: #916548;
	--highlight: #91654826;
        };
    &[href$="Cyberware"], &[href$="cyberware"] {
        color: #bd9b2e;
	--highlight: #bd9b2e26;
        };
    &[href$="Humanity"], &[href$="humanity"] {
        color: #50c425;
	--highlight: #50c42526;
        };
    &[href$="Humanity-Loss"], &[href$="Low-Humanity"],
    &[href$="humanity-loss"], &[href$="low-humanity"] {
        color: #d04339;
	--highlight: #d0433926;
        };
    &[href$="Stats"], &[href$="stats"] {
        color: #2ebd6e;
	--highlight: #2ebd6e26;
        };
    &[href$="Plus"], &[href$="plus"] {
        color: #42c403;
	--highlight: #42c40326;
        };
    &[href$="Minus"], &[href$="minus"] {
        color: #c42542;
	--highlight: #c4254226;
        };
    &[href$="Combat"], &[href$="combat"] {
        color: #e66060;
	--highlight: #e6606026;
        };
    &[href$="Sneak"], &[href$="sneak"] {
        color: #9a60e6;
	--highlight: #9a60e626;
        };
    &[href$="Mental"], &[href$="mental"] {
        color: #60a5e6;
	--highlight: #60a5e626;
        };
    &[href$="Soul-Stats"], &[href$="S."],
    &[href$="soul-stats"], &[href$="s."] {
        color: #7251be;
	--highlight: #7251be26;
        }
}

    /* status */
a, a[role=anchor] {
    &[href$="Poise"], &[href$="poise"],
    &[href$="On-Crit"], &[href$="on-crit"] {
    color: #c8d0d0;
	font-weight:bold;
	--highlight: #c8d0d026;
  };
    &[href$="Envenoming"], &[href$="envenoming"] {
    color: #5c12a5;
	--highlight: #5c12a526;
	font-weight:bold; 
  };
    &[href*="Poise"][href$="Hemorrhage"],
    &[href*="poise"][href$="hemorrhage"] {
    color: #d00b0b;
	--highlight: #d00b0b26;
	font-weight:bold; 
  };
    &[href*="Poise"][href$="Scorching"],
    &[href*="poise"][href$="scorching"] {
    color: #ea5d23;
	font-weight:bold; 
	--highlight: #ea5d2326;
  };
    &[href$="Scorched"], &[href$="scorched"] {
    color: #d53f1b;
    font-weight:bold;
	--highlight: #d53f1b26;
  };
    &[href$="Ignition"], &[href$="ignition"] {
    color: #fbae09;
    font-weight:bold;
	--highlight: #fbae0926;
  };
    &[href$="Burn"], &[href$="burn"] {
    color: #ec8209;
    font-weight:bold;
	--highlight: #ec820926;
  };
    &[href$="Bloodloss"], &[href$="bloodloss"] {
    color: #b1120e;
    font-weight:bold;
	--highlight: #b1120e26;
  };
    &[href$="Hemorrhage"], &[href$="hemorrhage"] {
    color: #760e06;
    font-weight:bold;
	--highlight: #760e0626;
  };
    &[href$="Vital-States"], &[href$="vital-states"],
    &[href$="Vital-State"], &[href$="vital-state"] {
    color: #1fdb4e;
	font-weight:bold;
	--highlight: #1fdb4e26;
  };
    &[href$="Death's-Door"], &[href$="death's-door"] {
    color: #e00000;
	font-weight:bold;
	--highlight: #e0000026;
  };
    &[href$="Downed"], &[href$="downed"] {
    color: #ea5f1d;
	font-weight:bold;
	--highlight: #ea5f1d26;
  };
    &[href$="Death's-Door-Recovery"], &[href$="death's-door-recovery"] {
    color: #bfbbbb;
	--highlight: #bfbbbb26;
	font-weight:bold;
  };
    &[href$="Mental-Power-Down"], &[href$="Combat-Power-Up"], &[href$="Defense-Power-Up"],
    &[href$="mental-power-down"], &[href$="combat-power-up"], &[href$="defense-power-up"] {
    color: #e11414;
	--highlight: #e1141426;
	font-weight:bold;
  };
    &[href$="Mental-Power-Up"], &[href$="Combat-Power-Down"], &[href$="Defense-Power-Down"],
    &[href$="mental-power-up"], &[href$="combat-power-down"], &[href$="defense-power-down"] {
    color: #1e84f1;
	--highlight: #1e84f126;
	font-weight:bold;
  };
    &[href$="Guardbroken"], &[href$="guardbroken"] {
    color: #641717;
	--highlight: #64171726;
	font-weight:bold; 
  };
    &[href$="Actions"], &[href$="actions"] {
    color: #e6a433;
	font-weight:bold;
	--highlight: #e6a43326;
  };
    &[href$="Tremor"], &[href$="tremor"] {
    color: #eebc77;
	--highlight: #eebc7726;
	font-weight:bold; 
  };
    &[href$="Seisimic-Shock"], &[href$="seisimic-shock"] {
    color: #f2a854;
	--highlight: #f2a85426;
	font-weight:bold; 
  };
    &[href$="Toxin"], &[href$="toxin"] {
    color: #3ed43c;
	--highlight: #3ed43c26;
	font-weight:bold; 
  };
    &[href$="Stealth"], &[href$="stealth"] {
    color: #7549cc;
	--highlight: #7549cc26;
	font-weight:bold; 
  };
    &[href$="Venom"], &[href$="venom"] {
    color: #582dcd;
	--highlight: #582dcd26;
	font-weight:bold; 
  };
    &[href*="Tremor"][href$="Hemorrhage"],
    &[href*="tremor"][href$="hemorrhage"] {
    color: #d24a28;
	--highlight: #d24a2826;
	font-weight:bold; 
  };
    &[href*="Seisimic"][href$="Hemorrhage"],
    &[href*="seisimic"][href$="hemorrhage"] {
    color: #9f2d1e;
	--highlight: #9f2d1e26;
	font-weight:bold; 
  };
    &[href$="Stance"], &[href$="stance"] {
    color: #d5a220;
	--highlight: #d5a22026;
	font-weight:bold; 
  };
    &[href$="Stancebroken"], &[href$="stancebroken"] {
    color: #f5c724;
	--highlight: #f5c72426;
	font-weight:bold; 
  };
    &[href$="Critical-Hit"], &[href$="critical-hit"] {
    color: #f8db9b;
	--highlight: #f8db9b26;
	font-weight:bold; 
  };
    &[href$="Sheathed"], &[href$="sheathed"] {
    color: #c7d2e0;
	--highlight: #c7d2e026;
	font-weight:bold; 
  };
    &[href$="Unsheathed"], &[href$="unsheathed"] {
    color: #8db2e2;
	--highlight: #8db2e226;
	font-weight:bold; 
  };
    &[href*="Awakened"], &[href*="awakened"] {
    color: #af090f;
	--highlight: #af090f26;
	font-weight:bold; 
  };
    &[href$="Shattered"], &[href$="shattered"] {
    color: #7719c8;
	--highlight: #7719c826;
	font-weight:bold; 
  };
    &[href$="Nimius"], &[href$="nimius"] {
    color: #c60c31;
	--highlight: #c60c3126;
	font-weight:bold; 
  };
    &[href$="Aether"], &[href$="aether"] {
    color: #5a9cd2;
	--highlight: #5a9cd226;
	font-weight:bold; 
  };
    &[href$="Aurora-Vitae"], &[href$="aurora-vitae"] {
    color: #e79e5a;
	--highlight: #e79e5a26;
	font-weight:bold; 
  };
    &[href$="Noctis"], &[href$="noctis"] {
    color: #ba7ad1;
	--highlight: #ba7ad126;
	font-weight:bold; 
  };
}